<%- include('../common/headerAD'); %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../common/navAD'); %>

                <%- include('../common/menuAD'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>
                                            <%- title %>
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>
                        <!-- Main content -->


                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3">

                                        <!-- Profile Image -->
                                        <div class="card card-primary card-outline">
                                            <div class="card-body box-profile">
                                                <div class="text-center">
                                                    <img class="profile-user-img img-fluid img-circle"
                                                        src="/image/avatar/<%= user.image %>"
                                                        alt="User profile picture">
                                                </div>

                                                <h3 class="profile-username text-center">
                                                    <%= user.name %>
                                                </h3>

                                                <p class="text-muted text-center">
                                                    <%= user.description %>
                                                </p>

                                                <ul class="list-group list-group-unbordered mb-3">
                                                    <li class="list-group-item">
                                                        <b>Email</b> <a class="float-right">
                                                            <%= user.email %>
                                                        </a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Address</b> <a class="float-right">
                                                            <%= user.address %>
                                                        </a>
                                                    </li>
                                                </ul>

                                                <a href="#changepass" data-toggle="tab"
                                                    class="btn btn-primary btn-block"><b>Change password</b></a>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-9">
                                        <div class="card">
                                            <div class="card-header p-2">
                                                <ul class="nav nav-pills">
                                                    <li class="nav-item"><a class="nav-link active" href="#activity"
                                                            data-toggle="tab">Activity</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="#timeline"
                                                            data-toggle="tab">Timeline</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" href="#settings"
                                                            data-toggle="tab">Settings Account</a>
                                                    </li>
                                                    <li class="nav-item"><a class="nav-link" href="#changepass"
                                                            data-toggle="tab">Change Password</a>
                                                    </li>
                                                </ul>
                                            </div><!-- /.card-header -->
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="active tab-pane" id="activity">
                                                        <!-- Post -->

                                                        <!-- /.post -->
                                                    </div>
                                                    <!-- /.tab-pane -->
                                                    <div class="tab-pane" id="timeline">
                                                        <!-- The timeline -->
                                                        <div class="timeline timeline-inverse">
                                                            <!-- timeline time label -->
                                                            <div class="time-label">
                                                                <span class="bg-danger">
                                                                    10 Feb. 2014
                                                                </span>
                                                            </div>
                                                            <!-- /.timeline-label -->
                                                            <!-- timeline item -->
                                                            <div>
                                                                <i class="fas fa-envelope bg-primary"></i>

                                                                <div class="timeline-item">
                                                                    <span class="time"><i class="far fa-clock"></i>
                                                                        12:05</span>

                                                                    <h3 class="timeline-header"><a href="#">Support
                                                                            Team</a>
                                                                        sent you an
                                                                        email</h3>

                                                                    <div class="timeline-body">
                                                                        Etsy doostang zoodles disqus groupon greplin
                                                                        oooj
                                                                        voxy zoodles,
                                                                        weebly ning heekya handango imeem plugg dopplr
                                                                        jibjab, movity
                                                                        jajah plickers sifteo edmodo ifttt zimbra.
                                                                        Babblely
                                                                        odeo kaboodle
                                                                        quora plaxo ideeli hulu weebly balihoo...
                                                                    </div>
                                                                    <div class="timeline-footer">
                                                                        <a href="#" class="btn btn-primary btn-sm">Read
                                                                            more</a>
                                                                        <a href="#"
                                                                            class="btn btn-danger btn-sm">Delete</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- END timeline item -->
                                                            <!-- timeline item -->
                                                            <div>
                                                                <i class="fas fa-user bg-info"></i>

                                                                <div class="timeline-item">
                                                                    <span class="time"><i class="far fa-clock"></i> 5
                                                                        mins
                                                                        ago</span>

                                                                    <h3 class="timeline-header border-0"><a
                                                                            href="#">Sarah
                                                                            Young</a>
                                                                        accepted your friend request
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                            <!-- END timeline item -->
                                                            <!-- timeline item -->
                                                            <div>
                                                                <i class="fas fa-comments bg-warning"></i>

                                                                <div class="timeline-item">
                                                                    <span class="time"><i class="far fa-clock"></i> 27
                                                                        mins
                                                                        ago</span>

                                                                    <h3 class="timeline-header"><a href="#">Jay
                                                                            White</a>
                                                                        commented on your
                                                                        post</h3>

                                                                    <div class="timeline-body">
                                                                        Take me to your leader!
                                                                        Switzerland is small and neutral!
                                                                        We are more like Germany, ambitious and
                                                                        misunderstood!
                                                                    </div>
                                                                    <div class="timeline-footer">
                                                                        <a href="#"
                                                                            class="btn btn-warning btn-flat btn-sm">View
                                                                            comment</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- END timeline item -->
                                                            <!-- timeline time label -->
                                                            <div class="time-label">
                                                                <span class="bg-success">
                                                                    3 Jan. 2014
                                                                </span>
                                                            </div>
                                                            <!-- /.timeline-label -->
                                                            <!-- timeline item -->
                                                            <div>
                                                                <i class="fas fa-camera bg-purple"></i>

                                                                <div class="timeline-item">
                                                                    <span class="time"><i class="far fa-clock"></i> 2
                                                                        days
                                                                        ago</span>

                                                                    <h3 class="timeline-header"><a href="#">Mina Lee</a>
                                                                        uploaded new photos
                                                                    </h3>

                                                                </div>
                                                            </div>
                                                            <!-- END timeline item -->
                                                            <div>
                                                                <i class="far fa-clock bg-gray"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.tab-pane -->
                                                    <div class="tab-pane" id="settings">
                                                        <div class="form-horizontal">
                                                            <div class="form-group row">
                                                                <label for="nameAD"
                                                                    class="col-sm-2 col-form-label">Name</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" id="nameAD"
                                                                        placeholder="Name" value="<%= user.name %>">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="emailAD"
                                                                    class="col-sm-2 col-form-label">Email</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" id="emailAD"
                                                                        placeholder="Email" value="<%= user.email %>">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="phoneAD"
                                                                    class="col-sm-2 col-form-label">Phone</label>
                                                                <div class="col-sm-10">
                                                                    <input type="number" class="form-control"
                                                                        id="phoneAD" placeholder="Phone"
                                                                        value="0<%= user.phone %>">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="addressAD"
                                                                    class="col-sm-2 col-form-label">Address</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control"
                                                                        id="addressAD" placeholder="Address"
                                                                        value="<%= user.address %>">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="descriptionAD"
                                                                    class="col-sm-2 col-form-label">Description</label>
                                                                <div class="col-sm-10">
                                                                    <textarea class="form-control" id="descriptionAD"
                                                                        placeholder="Description"><%= user.description %></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <form action="" method="post"
                                                                    enctype="multipart/form-data"
                                                                    id='form-upload-users-update'
                                                                    name="form-upload-users-update">
                                                                    <label class="" for="image-update-users"
                                                                        style="cursor:pointer">Avatar:
                                                                        <label id='upload-image-users ' for="submit"
                                                                            class="btn bg-success btn-app m-0 mt-2 d-block">
                                                                            <i class="fas fa-upload"></i>upload
                                                                        </label>
                                                                        <input type="file" id='image-update-users'
                                                                            class="d-none" name='image-users'>
                                                                        <img id='preview'
                                                                            src="/image/avatar/<%= user.image %>"
                                                                            class=" mt-3 d-block icon-add-class"
                                                                            alt="Click to change avatar">
                                                                        <input type="text" id='old-name' class='d-none'
                                                                            value="<%= user.image %>">
                                                                    </label>
                                                                    <input class="d-none" type="submit"
                                                                        id="submit"></input>
                                                                </form>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="offset-sm-2 col-sm-10">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input class="confirm-users"
                                                                                id="confirm-users" type="checkbox"> I
                                                                            agree to the <a href="#">terms and
                                                                                conditions</a>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="offset-sm-2 col-sm-10" id="upadate-admin"
                                                                    data-id="<%= user.id %>">
                                                                    <button type="button"
                                                                        class="btn btn-danger">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.tab-pane -->
                                                    <div class="tab-pane" id="changepass">
                                                        <form class="form-horizontal">
                                                            <div class="form-group row">
                                                                <label for="oldpass" class="col-sm-2 col-form-label">Old
                                                                    Password</label>
                                                                <div class="col-sm-10">
                                                                    <input type="password" class="form-control"
                                                                        id="oldpass" placeholder="Password" value="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="newpass" class="col-sm-2 col-form-label">New
                                                                    Password</label>
                                                                <div class="col-sm-10">
                                                                    <input type="password" class="form-control"
                                                                        id="newpass" placeholder="Password" value="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="repass"
                                                                    class="col-sm-2 col-form-label">Re-Password</label>
                                                                <div class="col-sm-10">
                                                                    <input type="password" class="form-control"
                                                                        id="repass" placeholder="Password" value="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <div class="offset-sm-2 col-sm-10" id="changepass-admin"
                                                                    data-id="<%= user.id %>">
                                                                    <button type="button"
                                                                        class="btn btn-danger">Submit</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- /.tab-pane -->
                                                </div>
                                                <!-- /.tab-content -->
                                            </div><!-- /.card-body -->
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div><!-- /.container-fluid -->
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Control sidebar content goes here -->
                    </aside>
                    <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <%- include('../common/footerAD'); %>