<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Turborvip | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>Admin</b>TURBORVIP</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <div class="text-danger alert fw-bold">
                </div>
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control " id="username" placeholder="username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control " id="password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="button" class="btn btn-primary btn-block loginAD">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <!-- /.login-card-body -->
            </div>
        </div>
        <!-- /.login-box -->

        <!-- jQuery -->
        <script src="../../plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="../../dist/js/adminlte.min.js"></script>

        <script>
            $('.loginAD').click(function () {
                let username = $('#username').val();
                let password = $('#password').val();
                if (username && password) {
                    $.ajax({
                        type: "POST",
                        url: '../loginshop/check',
                        dataType: "JSON",
                        data: { username, password },
                        success: async function (res) {
                            console.log("avacdsafasdfs");
                            console.log("res", res)
                            if (res.res == true) {
                                console.log("accessToken", res.accessToken);
                                console.log('sau');
                                await localStorage.setItem("accessToken", res.accessToken);
                                location.replace('http://localhost:3000/dashboard');
                            }
                            else {
                                $('.alert').attr("style", "display:block");
                                $('.alert').text("Username or Password is wrong");
                            }
                        }
                    })
                } else {
                    $('.alert').attr("style", "display:block");
                    $('.alert').text("Username or Password is wrong");
                }
            })

        </script>
</body>

</html>