<%- include('../common/header'); %>
    <link rel="stylesheet" href="http://localhost:3000/css/client/home.css">
    <link rel="stylesheet" href="http://localhost:3000/css/client/account.css">
    <!-- Nav-Top -->
    <%- include('../common/nav'); %>
        <!-- Menu -->
        <%- include('../common/menu'); %>
            <div class="container">
                <div class="row ">
                    <div class="col-md-4 pt-5 ">
                        <a class="d-block mt-4 btn-myaccount">
                            <i class="far fa-user mr-1"></i>My Account
                        </a>
                        <a class="d-block mt-4 btn-changepass">
                            <i class="fas fa-key mr-1"></i></i>Change Password
                        </a>
                        <a class="d-block mt-4 btn-purchase-history">
                            <i class="far fa-clipboard mr-1"></i> Purchase History
                        </a>
                    </div>
                    <div class="col-md-8 p-5">
                        <div class="myaccount">
                            <label class="mt-4">Username: </label>
                            <input type="text" id='username-acc' class="form-control" Disabled>
                            <label class="mt-4">Name: </label>
                            <input type="text" id='name-acc' class="form-control">
                            <label class="mt-4">Email: </label>
                            <input type="text" id='email-acc' class="form-control">
                            <label class="mt-4">Phone: </label>
                            <input type="text" id='phone-acc' class="form-control">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary mt-4 btn-update-acc">Update</button>
                            </div>
                        </div>
                        <div class="changepass">
                            <label class="mt-4">OldPass: </label>
                            <input type="password" id='oldpass-acc' class="form-control">
                            <label class="mt-4">NewPass: </label>
                            <input type="password" id='newpass-acc' class="form-control">
                            <label class="mt-4">RePass: </label>
                            <input type="password" id='repass-acc' class="form-control">
                            <div class="text-center">
                                <button type="button" class="btn btn-primary mt-4 btn-changepass-acc">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../common/bottom'); %>
                <%- include('../common/toast'); %>
                    <script src="http://localhost:3000/js/client/account.js"></script>
                    <script src="http://localhost:3000/js/client/add-to-cart.js"></script>
                    <%- include('../common/footer'); %>