<%- include('../common/header'); %>
    <link rel="stylesheet" href="http://localhost:3000/css/client/detail.css">
    <link rel="stylesheet" href="http://localhost:3000/css/client/home.css">
    <!-- Nav-Top -->
    <%- include('../common/nav'); %>
        <!-- Menu -->
        <%- include('../common/menu'); %>
            <div class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 ">
                        <!-- Tabs -->
                        <div id="tabs">
                            <!-- Discount -->
                            <%if(data.detailDB[0].caption){%>
                                <div class="discount d-flex ml-auto align-items-center">
                                    <div class="icon-discount">
                                        <img class="img-fluid"
                                            src="https://img.icons8.com/color/48/000000/discount--v1.png" />
                                    </div>
                                    <div id="discount-content" class="ml-3 text-truncate">
                                        <%=data.detailDB[0].caption%>
                                    </div>
                                </div>
                                <%}%>
                                    <!--End discount -->
                                    <div class="content-wrap ">
                                        <div class="tab-content  active">
                                            <div class="magnify">
                                                <div class="large"
                                                    style="background: url('/image/product/<%= JSON.parse(data.detailDB[0].image)[0] %>')no-repeat;">
                                                </div>
                                                <img class="small img-fluid"
                                                    src="/image/product/<%= JSON.parse(data.detailDB[0].image)[0] %>" />
                                                <div class="d-none" id='image<%= data.detailDB[0].product_id %>'>
                                                    <%= JSON.parse(data.detailDB[0].image)[0]%>
                                                </div>
                                            </div>
                                        </div>
                                        <% for(var k=1; k< JSON.parse(data.detailDB[0].image).length; k++) {%>
                                            <div class="tab-content ">
                                                <img class="img-fluid"
                                                    src="/image/product/<%= JSON.parse(data.detailDB[0].image)[k] %>"
                                                    alt="">
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="item-wrap row">
                                        <div class="tab-item active col">
                                            <img class="img-fluid"
                                                src="/image/product/<%= JSON.parse(data.detailDB[0].image)[0] %>"
                                                alt="">
                                        </div>
                                        <% for(var j=1; j< JSON.parse(data.detailDB[0].image).length; j++) {%>
                                            <div class="tab-item col">
                                                <img class="img-fluid"
                                                    src="/image/product/<%= JSON.parse(data.detailDB[0].image)[j] %>"
                                                    alt="">
                                            </div>
                                            <% } %>
                                    </div>
                        </div>
                        <!-- End tabs -->
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 pt-5 pl-4">
                        <!-- Name product -->
                        <h2 class="name-item overflow-hidden" id='name<%= data.detailDB[0].product_id %>'>
                            <%= data.detailDB[0].name %>
                        </h2>
                        <!-- Price -->
                        <h5>
                            <% if(data.detailDB[0].value !=100 && data.detailDB[0].value) {%>
                                <strike>
                                    <%=data.detailDB[0].price+data.detailDB[0].unit%>
                                </strike>
                                <span class="card-title ml-3 discount-price"
                                    id='price<%= data.detailDB[0].product_id %>'>
                                    <%=data.detailDB[0].price*data.detailDB[0].value /100+data.detailDB[0].unit%>
                                </span>
                                <%} else { %>
                                    <span class="card-title" id='price<%= data.detailDB[0].product_id %>'>
                                        <%=data.detailDB[0].price+data.detailDB[0].unit%>
                                    </span>
                                    <%}%>
                        </h5>
                        <!-- Size -->
                        <% if(data.detailDB[0].size) { %>
                            <div class="size-clothes mt-5 row">
                                <div class="col-1">
                                    <small>Size</small>
                                </div>
                                <div class="col-11">
                                    <% for(let i=0; i < JSON.parse(data.detailDB[0].size).length; i++) {%>
                                        <label class="pl-4 pr-4 pt-1 pb-1 size"
                                            id='size<%=data.detailDB[0].product_id%>'
                                            data-value="<%=JSON.parse(data.detailDB[0].size)[i]%>">
                                            <%= JSON.parse(data.detailDB[0].size)[i]%>
                                        </label>
                                        <%}%>
                                </div>
                            </div>
                            <%}%>
                                <% if(data.detailDB[0].color) { %>
                                    <div class="color-clothes mt-5 row">
                                        <div class="col-1">
                                            <small>Color</small>
                                        </div>
                                        <div class="col-11">
                                            <% for(let i=0; i < JSON.parse(data.detailDB[0].color).length; i++) {%>
                                                <label class="p-1 color" id='color<%=data.detailDB[0].product_id%>'
                                                    data-value="<%=JSON.parse(data.detailDB[0].color)[i]%>">
                                                    <input type="color" class='input-color'
                                                        value='<%=JSON.parse(data.detailDB[0].color)[i]%>' disabled>
                                                </label>
                                                <%}%>
                                        </div>
                                    </div>
                                    <%}%>
                                        <!-- Quantity and btn -->
                                        <div class="mt-3">
                                            <input type="number" class="d-none" id="input-quantity" min="1" max="10"
                                                value="1">
                                            <label for="input-quantity"><strong>Quantity:</strong></label>
                                            <div class="quantity d-inline mr-5 ml-2">
                                                <label class='addition' for="">+</label>
                                                <label class='quantity-output'
                                                    id='quantity<%= data.detailDB[0].product_id %>'></label>
                                                <label class='subtraction' for="">-</label>
                                            </div>
                                            <button class="btn-big btn-add-to-cart"
                                                data-id='<%= data.detailDB[0].product_id %>'>ADD TO CART</button>
                                            <button class="btn-big btn-add-to-buy">BUY</button>
                                        </div>
                                        <!-- Descriotion -->
                                        <div class="description mt-4">
                                            <strong>Description :</strong>
                                            <%= data.detailDB[0].description%>
                                        </div>
                                        <!-- Return policy -->
                                        <p class="mt-3">
                                            <a class="return-policy" data-toggle="collapse" href="#collapseExample"
                                                role="button" aria-expanded="false" aria-controls="collapseExample">
                                                <strong>Return policy </strong> <i class="fas fa-angle-down"></i>
                                            </a>
                                        </p>
                                        <div class="collapse" id="collapseExample">
                                            Free cleaning and warranty (depending on the case) within the first 1 year,
                                            applicable to
                                            FULL PRICE items.

                                            For products on SALE or in the "OUTLET" category, the cleaning service store
                                            charges
                                            a
                                            discounted price, or it remains
                                            free for customers who have reached the membership quota.

                                            Support to change size (if available) or change to another product within 1
                                            week
                                            (for orders
                                            in Ho Chi Minh City) or up
                                            to 2 weeks (for orders shipped to the province). In some cases, the store
                                            can still
                                            be
                                            "flexible" for a longer time with
                                            advance notice.

                                            All products are genuine - AUTHENTIC, including lifetime checks. Refund &
                                            compensation if
                                            found FAKE goods.

                                            more detail here
                                            For more information about membership benefits, see here.
                                        </div>
                                        <!--  -->
                    </div>
                </div>
            </div>
            <!-- Other product -->
            <div class=" mt-5 ml-0 sale container-fluid main row">
                <div class=" col">
                    <div class="bg-light rounded">
                        <h5 class="text-muted">
                            Other products
                        </h5>
                    </div>
                    <div class="owl-carousel product-carousel mt-4">
                        <% for(let i=0 ; i < data.otherProductDB.length; i++){ %>
                            <div class="item">
                                <% if(data.otherProductDB[i].caption !=null){%>
                                    <div class="discount d-flex ml-auto align-items-center">
                                        <div class="icon-discount">
                                            <img class="img-fluid"
                                                src="https://img.icons8.com/color/48/000000/discount--v1.png" />
                                        </div>
                                        <div id="discount-content" class="ml-3 text-truncate">
                                            <%= data.otherProductDB[i].caption %>
                                        </div>
                                    </div>
                                    <%}%>
                                        <div class="card card-product">
                                            <div class="card-top">
                                                <img src="/image/product/<%=  JSON.parse(data.otherProductDB[i].image)[0]%>"
                                                    class="card-product-img-top img-fluid" alt="...">
                                                <div class="d-none" id='image<%= data.otherProductDB[i].id %>'>
                                                    <%= JSON.parse(data.otherProductDB[i].image)[0]%>
                                                </div>
                                            </div>
                                            <div class="card-body card-body-product ">
                                                <p class="card-text name-product"
                                                    id='name<%= data.otherProductDB[i].id %>'>
                                                    <%= data.otherProductDB[i].name %>
                                                </p>
                                                <label class='d-none'
                                                    id='quantity<%= data.otherProductDB[i].id %>'>1</label>
                                                <% if(data.otherProductDB[i].size){%>
                                                    <div class='d-none' id="size<%=data.otherProductDB[i].id %>">
                                                        this is size
                                                    </div>
                                                    <%}%>
                                                        <% if(data.otherProductDB[i].color){%>
                                                            <div class='d-none'
                                                                id="color<%=data.otherProductDB[i].id %>">
                                                                this is color
                                                            </div>
                                                            <%}%>
                                                                <div class="card-bottom-product mt-auto">
                                                                    <h6 class="card-title">
                                                                        <% if(data.otherProductDB[i].value !=100 &&
                                                                            data.otherProductDB[i].value !=null){%>
                                                                            <strike>
                                                                                <%=data.otherProductDB[i].price +
                                                                                    data.otherProductDB[i].unit%>
                                                                            </strike>
                                                                            <span
                                                                                class="card-title float-right discount-price"
                                                                                id='price<%= data.otherProductDB[i].id %>'>
                                                                                <%=(data.otherProductDB[i].price*data.otherProductDB[i].value
                                                                                    /100)+ data.otherProductDB[i].unit%>
                                                                            </span>
                                                                            <%}else{%>
                                                                                <span class="card-title"
                                                                                    id='price<%= data.otherProductDB[i].id %>'>
                                                                                    <%=data.otherProductDB[i].price
                                                                                        +data.otherProductDB[i].unit%>
                                                                                </span>
                                                                                <% }%>
                                                                    </h6>
                                                                </div>
                                            </div>
                                            <div class="card-product-btn text-center">
                                                <a class=" btn-card-product btn-buy btn-add-to-cart"
                                                    data-id='<%= data.otherProductDB[i].id %>'><i
                                                        class="fas fa-shopping-basket"></i></a>
                                                <a href="?id=<%=data.otherProductDB[i].id%>"
                                                    class=" btn-card-product btn-detail"><i
                                                        class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                            </div>
                            <%}%>
                    </div>
                </div>
            </div>
            <!--End other product -->

            <%- include('../common/bottom'); %>
                <%- include('../common/toast'); %>
                    <script src="http://localhost:3000/js/client/detail.js"></script>
                    <script src="http://localhost:3000/js/client/add-to-cart.js"></script>
                    <%- include('../common/footer'); %>