<%- include('../common/header'); %>
    <link rel="stylesheet" href="http://localhost:3000/css/client/home.css">
    <!-- Nav-Top -->
    <%- include('../common/nav'); %>
        <!-- Menu -->
        <%- include('../common/menu'); %>
            <!-- Slider -->
            <div class="slider">
                <div class="owl-carousel banner-home">
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/coolmate.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/newbalance.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/vans2.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/vans.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/bitis2.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/converse.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/jordan.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="row m-3">
                <div class=" col-md-4 col-lg-4 col-xl-4 p-3 function">
                    <div class="row">
                        <div class="col-3 mt-auto mb-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                                viewBox="0 0 172 172" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <path
                                        d="M0,86c0,-47.49649 38.50351,-86 86,-86c47.49649,0 86,38.50351 86,86c0,47.49649 -38.50351,86 -86,86c-47.49649,0 -86,-38.50351 -86,-86zM86,168.56c45.59663,0 82.56,-36.96337 82.56,-82.56c0,-45.59663 -36.96337,-82.56 -82.56,-82.56c-45.59663,0 -82.56,36.96337 -82.56,82.56c0,45.59663 36.96337,82.56 82.56,82.56z"
                                        fill="#ff0000"></path>
                                    <g fill="#ff1800">
                                        <path
                                            d="M30.30338,44.72c-3.85366,0 -7.06014,3.20648 -7.06014,7.06014v65.7377c0,4.12822 3.40259,7.53081 7.53081,7.53081h10.27642c1.1963,7.11897 7.38372,12.55135 14.82628,12.55135c7.44256,0 13.62998,-5.43238 14.82628,-12.55135h38.12473c1.1963,7.11897 7.38372,12.55135 14.82628,12.55135c7.44256,0 13.62998,-5.43238 14.82628,-12.55135h2.74561c2.08862,0 3.9223,-0.94135 5.25588,-2.27493c1.33358,-1.33358 2.27493,-3.16726 2.27493,-5.25588v-24.08291c0,-2.82405 -1.07863,-5.41277 -2.03959,-7.37392c-0.96096,-1.96115 -1.96115,-3.37318 -1.96115,-3.37318v-0.07845l-10.27642,-13.80649h-0.07845v-0.07845c-2.2259,-2.78483 -5.79519,-6.43257 -10.74709,-6.43257h-20.08216c-0.90213,0 -1.72581,0.1667 -2.51027,0.47068v-10.74709c0,-4.02035 -3.27512,-7.29547 -7.29547,-7.29547zM30.30338,49.74054h63.46277c1.00019,0 2.27493,1.27475 2.27493,2.27493v68.01264h-25.33804c-1.1963,-7.11897 -7.38372,-12.55135 -14.82628,-12.55135c-7.44256,0 -13.62998,5.43238 -14.82628,12.55135h-10.27642c-1.39241,0 -2.51027,-1.11785 -2.51027,-2.51027v-65.7377c0,-1.16688 0.87271,-2.03959 2.03959,-2.03959zM80.82257,61.27209l-1.72581,1.80426l-20.3175,22.27865l-13.17892,-11.53155l-3.29473,3.76541l1.8827,1.64736l13.02203,11.53155l1.8827,1.64736l1.64736,-1.80426l22.12176,-24.08291l1.64736,-1.8827zM103.57189,67.31243h10.04108v22.59243c0,2.08862 0.94135,3.9223 2.27493,5.25588c1.33358,1.33358 3.16726,2.27493 5.25588,2.27493h22.59243v20.08216c0,0.42165 -0.31378,1.09824 -0.86291,1.64736c-0.54912,0.54912 -1.22572,0.86291 -1.64736,0.86291h-2.74561c-1.1963,-7.11897 -7.38372,-12.55135 -14.82628,-12.55135c-7.44256,0 -13.62998,5.43238 -14.82628,12.55135h-7.76615v-50.20541c0,-0.42165 0.31378,-1.09824 0.86291,-1.64736c0.54912,-0.54912 1.22572,-0.86291 1.64736,-0.86291zM118.63351,67.31243h6.02054c2.06901,0 4.9519,2.32396 6.74635,4.54986l10.27642,13.72804l0.07845,0.07845c0.04903,0.06864 0.72563,1.0296 1.49047,2.58872c0.63737,1.29436 0.97077,2.83386 1.17669,4.15764h-22.27865c-0.42165,0 -1.09824,-0.31378 -1.64736,-0.86291c-0.54912,-0.54912 -0.86291,-1.22572 -0.86291,-1.64736zM55.87676,112.4973c5.57947,0 10.04108,4.46161 10.04108,10.04108c0,5.57947 -4.46161,10.04108 -10.04108,10.04108c-5.57947,0 -10.04108,-4.46161 -10.04108,-10.04108c0,-5.57947 4.46161,-10.04108 10.04108,-10.04108zM123.65405,112.4973c5.57947,0 10.04108,4.46161 10.04108,10.04108c0,5.57947 -4.46161,10.04108 -10.04108,10.04108c-5.57947,0 -10.04108,-4.46161 -10.04108,-10.04108c0,-5.57947 4.46161,-10.04108 10.04108,-10.04108z">
                                        </path>
                                    </g>
                                    <path
                                        d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                        fill="none"></path>
                                    <path
                                        d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                        fill="none"></path>
                                    <path
                                        d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                        fill="none"></path>
                                    <path
                                        d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                        fill="none"></path>
                                    <path
                                        d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                        fill="none"></path>
                                    <path
                                        d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                        fill="none"></path>
                                </g>
                            </svg>
                        </div>
                        <div class="col-8">
                            <strong>FREE SHIPPING</strong>
                            <p>We offer free shipping for orders over 100,000 VND</p>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-lg-4 col-xl-4 p-3 function">
                    <div class="row ">
                        <div class="col-3 mt-auto mb-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                                viewBox="0 0 172 172" style=" fill:#000000;">
                                <g transform="">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                        stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <path
                                            d="M0,86c0,-47.49649 38.50351,-86 86,-86c47.49649,0 86,38.50351 86,86c0,47.49649 -38.50351,86 -86,86c-47.49649,0 -86,-38.50351 -86,-86zM86,168.56c45.59663,0 82.56,-36.96337 82.56,-82.56c0,-45.59663 -36.96337,-82.56 -82.56,-82.56c-45.59663,0 -82.56,36.96337 -82.56,82.56c0,45.59663 36.96337,82.56 82.56,82.56z"
                                            fill="#ff0909"></path>
                                        <g fill="#e74c3c">
                                            <path
                                                d="M86,29.7775c-34.36917,0 -62.38313,24.0818 -62.38313,54.22124c0,17.49278 9.58596,32.72192 24.30497,42.67984c-0.02125,0.58451 0.02126,1.53035 -0.74392,4.37851c-0.95647,3.51769 -2.88004,8.48071 -6.78031,14.07074l-2.77376,3.97467h4.84612c16.79137,0 26.50486,-10.94627 28.01396,-12.6998c4.9949,1.16902 10.13859,1.81729 15.51608,1.81729c34.36917,0 62.38313,-24.0818 62.38313,-54.22125c0,-30.13945 -28.01396,-54.22124 -62.38313,-54.22124zM86,34.83617c32.0205,0 57.32446,22.16886 57.32446,49.16258c0,26.99372 -25.30396,49.16258 -57.32446,49.16258c-5.54753,0 -10.77623,-0.53137 -15.68612,-1.81729l-1.57286,-0.41447l-1.03086,1.26467c0,0 -7.85369,8.86329 -20.39408,10.99941c2.27428,-4.1022 3.95341,-7.92808 4.72921,-10.81874c1.09463,-4.0278 1.11588,-6.74843 1.11588,-6.74843v-1.39219l-1.16902,-0.74392c-14.36831,-9.13961 -23.31662,-23.28474 -23.31662,-39.4916c0,-26.99372 25.30396,-49.16258 57.32446,-49.16258zM58.79373,78.55749c-3.00757,0 -5.44125,2.43369 -5.44125,5.44125c0,3.00757 2.43369,5.44125 5.44125,5.44125c3.00757,0 5.44125,-2.43369 5.44125,-5.44125c0,-3.00757 -2.43369,-5.44125 -5.44125,-5.44125zM86,78.55749c-3.00757,0 -5.44125,2.43369 -5.44125,5.44125c0,3.00757 2.43369,5.44125 5.44125,5.44125c3.00757,0 5.44125,-2.43369 5.44125,-5.44125c0,-3.00757 -2.43369,-5.44125 -5.44125,-5.44125zM113.20627,78.55749c-3.00757,0 -5.44125,2.43369 -5.44125,5.44125c0,3.00757 2.43369,5.44125 5.44125,5.44125c3.00757,0 5.44125,-2.43369 5.44125,-5.44125c0,-3.00757 -2.43369,-5.44125 -5.44125,-5.44125z">
                                            </path>
                                        </g>
                                        <path d="" fill="none"></path>
                                        <path d="" fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,165.12c-43.69677,0 -79.12,-35.42323 -79.12,-79.12v0c0,-43.69677 35.42323,-79.12 79.12,-79.12v0c43.69677,0 79.12,35.42323 79.12,79.12v0c0,43.69677 -35.42323,79.12 -79.12,79.12z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="col-8">
                            <strong>ONLINE SUPPORT 24/24</strong>
                            <p>Our consulting team is always ready to help you when you have problems</p>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-lg-4 col-xl-4 p-3 function">
                    <div class="row">
                        <div class="col-3 mt-auto mb-auto">
                            <svg xmlns=" http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                                viewBox="0 0 172 172" style=" fill:#000000;">
                                <g transform="">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                        stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                        stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                                        font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <path
                                            d="M0,86c0,-47.49649 38.50351,-86 86,-86c47.49649,0 86,38.50351 86,86c0,47.49649 -38.50351,86 -86,86c-47.49649,0 -86,-38.50351 -86,-86zM86,168.56c45.59663,0 82.56,-36.96337 82.56,-82.56c0,-45.59663 -36.96337,-82.56 -82.56,-82.56c-45.59663,0 -82.56,36.96337 -82.56,82.56c0,45.59663 36.96337,82.56 82.56,82.56z"
                                            fill="#ff0000"></path>
                                        <g fill="#ff1800">
                                            <path
                                                d="M61.99525,40.592c-3.65097,0 -6.37072,1.21945 -7.98188,3.13363c-1.61116,1.91417 -2.06938,4.29395 -2.06938,6.32637c0,4.83347 2.61628,8.75789 6.20813,11.29288c1.10859,0.78341 2.2837,1.40422 3.5475,1.95113h-21.10763v20.812h3.784v47.3h83.248v-47.3h3.784v-20.812h-21.10762c1.2638,-0.54691 2.43891,-1.16772 3.5475,-1.95113c3.59184,-2.53498 6.20813,-6.45941 6.20813,-11.29288c0,-2.03242 -0.45822,-4.4122 -2.06937,-6.32637c-1.61116,-1.91417 -4.33091,-3.13363 -7.98188,-3.13363c-3.77661,0 -6.82894,1.59638 -9.10525,3.784c-2.27631,2.18762 -3.90964,4.94433 -5.4395,7.568c-1.52986,2.62367 -2.97103,5.14388 -4.4935,6.8585c-1.52247,1.71463 -2.91191,2.6015 -4.9665,2.6015c-2.05459,0 -3.44403,-0.88687 -4.9665,-2.6015c-1.52247,-1.71462 -2.96364,-4.23483 -4.4935,-6.8585c-1.52986,-2.62367 -3.16319,-5.38037 -5.4395,-7.568c-2.27631,-2.18763 -5.32864,-3.784 -9.10525,-3.784zM61.99525,44.376c2.77148,0 4.66348,1.00512 6.44462,2.71975c1.78114,1.71463 3.34795,4.16092 4.84825,6.74025c1.5003,2.57933 2.97103,5.26212 4.90738,7.44975c0.03695,0.04434 0.0813,0.07391 0.11825,0.11825h-7.44975c-3.81356,0 -7.75277,-1.13816 -10.58337,-3.13362c-2.83061,-1.99547 -4.55262,-4.69305 -4.55262,-8.21838c0,-1.42639 0.33997,-2.838 1.1825,-3.84312c0.84253,-1.00513 2.22458,-1.83288 5.08475,-1.83288zM110.00475,44.376c2.86017,0 4.24222,0.82775 5.08475,1.83288c0.84253,1.00513 1.1825,2.41673 1.1825,3.84312c0,3.52533 -1.72202,6.22291 -4.55262,8.21838c-2.83061,1.99547 -6.76981,3.13362 -10.58337,3.13362h-7.44975c0.03695,-0.04434 0.0813,-0.07391 0.11825,-0.11825c1.93634,-2.18762 3.40708,-4.87042 4.90738,-7.44975c1.5003,-2.57933 3.06711,-5.02563 4.84825,-6.74025c1.78114,-1.71463 3.67314,-2.71975 6.44463,-2.71975zM44.376,67.08h30.272v13.244h-30.272zM78.432,67.08h15.136v14.78125c0,0.05912 0,0.11825 0,0.17737c0,0.05913 0,0.11825 0,0.17738c-0.01478,0.14042 -0.01478,0.27345 0,0.41387v44.99413h-15.136v-45.05325c0.01478,-0.11825 0.01478,-0.2365 0,-0.35475c0.00739,-0.0813 0.00739,-0.1552 0,-0.2365c0,-0.05913 0,-0.11825 0,-0.17738zM97.352,67.08h30.272v13.244h-30.272zM48.16,84.108h26.488v43.516h-26.488zM97.352,84.108h26.488v43.516h-26.488z">
                                            </path>
                                        </g>
                                        <path d="" fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path d="" fill="none"></path>
                                        <path d="" fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,167.7c-45.12166,0 -81.7,-36.57834 -81.7,-81.7v0c0,-45.12166 36.57834,-81.7 81.7,-81.7v0c45.12166,0 81.7,36.57834 81.7,81.7v0c0,45.12166 -36.57834,81.7 -81.7,81.7z"
                                            fill="none"></path>
                                        <path
                                            d="M86,164.26c-43.2218,0 -78.26,-35.0382 -78.26,-78.26v0c0,-43.2218 35.0382,-78.26 78.26,-78.26v0c43.2218,0 78.26,35.0382 78.26,78.26v0c0,43.2218 -35.0382,78.26 -78.26,78.26z"
                                            fill="none"></path>
                                        <path
                                            d="M86,166.84c-44.6467,0 -80.84,-36.1933 -80.84,-80.84v0c0,-44.6467 36.1933,-80.84 80.84,-80.84h0c44.6467,0 80.84,36.1933 80.84,80.84v0c0,44.6467 -36.1933,80.84 -80.84,80.84z"
                                            fill="none"></path>
                                        <path
                                            d="M86,163.4c-42.74684,0 -77.4,-34.65316 -77.4,-77.4v0c0,-42.74684 34.65316,-77.4 77.4,-77.4h0c42.74684,0 77.4,34.65316 77.4,77.4v0c0,42.74684 -34.65316,77.4 -77.4,77.4z"
                                            fill="none"></path>
                                        <path
                                            d="M86,162.54c-42.27187,0 -76.54,-34.26813 -76.54,-76.54v0c0,-42.27187 34.26813,-76.54 76.54,-76.54v0c42.27187,0 76.54,34.26813 76.54,76.54v0c0,42.27187 -34.26813,76.54 -76.54,76.54z"
                                            fill="none"></path>
                                        <path
                                            d="M86,159.1c-40.37202,0 -73.1,-32.72798 -73.1,-73.1v0c0,-40.37202 32.72798,-73.1 73.1,-73.1v0c40.37202,0 73.1,32.72798 73.1,73.1v0c0,40.37202 -32.72798,73.1 -73.1,73.1z"
                                            fill="none"></path>
                                        <path
                                            d="M86,159.1c-40.37202,0 -73.1,-32.72798 -73.1,-73.1v0c0,-40.37202 32.72798,-73.1 73.1,-73.1h0c40.37202,0 73.1,32.72798 73.1,73.1v0c0,40.37202 -32.72798,73.1 -73.1,73.1z"
                                            fill="none"></path>
                                        <path
                                            d="M86,155.66c-38.47216,0 -69.66,-31.18784 -69.66,-69.66v0c0,-38.47216 31.18784,-69.66 69.66,-69.66h0c38.47216,0 69.66,31.18784 69.66,69.66v0c0,38.47216 -31.18784,69.66 -69.66,69.66z"
                                            fill="none"></path>
                                        <path
                                            d="M86,157.38c-39.42209,0 -71.38,-31.95791 -71.38,-71.38v0c0,-39.42209 31.95791,-71.38 71.38,-71.38h0c39.42209,0 71.38,31.95791 71.38,71.38v0c0,39.42209 -31.95791,71.38 -71.38,71.38z"
                                            fill="none"></path>
                                        <path
                                            d="M86,153.94c-37.52223,0 -67.94,-30.41777 -67.94,-67.94v0c0,-37.52223 30.41777,-67.94 67.94,-67.94h0c37.52223,0 67.94,30.41777 67.94,67.94v0c0,37.52223 -30.41777,67.94 -67.94,67.94z"
                                            fill="none"></path>
                                        <path
                                            d="M86,154.8c-37.99719,0 -68.8,-30.80281 -68.8,-68.8v0c0,-37.99719 30.80281,-68.8 68.8,-68.8v0c37.99719,0 68.8,30.80281 68.8,68.8v0c0,37.99719 -30.80281,68.8 -68.8,68.8z"
                                            fill="none"></path>
                                        <path
                                            d="M86,151.36c-36.09733,0 -65.36,-29.26267 -65.36,-65.36v0c0,-36.09733 29.26267,-65.36 65.36,-65.36v0c36.09733,0 65.36,29.26267 65.36,65.36v0c0,36.09733 -29.26267,65.36 -65.36,65.36z"
                                            fill="none"></path>
                                        <path
                                            d="M86,152.22c-36.5723,0 -66.22,-29.6477 -66.22,-66.22v0c0,-36.5723 29.6477,-66.22 66.22,-66.22h0c36.5723,0 66.22,29.6477 66.22,66.22v0c0,36.5723 -29.6477,66.22 -66.22,66.22z"
                                            fill="none"></path>
                                        <path
                                            d="M86,148.78c-34.67244,0 -62.78,-28.10756 -62.78,-62.78v0c0,-34.67244 28.10756,-62.78 62.78,-62.78h0c34.67244,0 62.78,28.10756 62.78,62.78v0c0,34.67244 -28.10756,62.78 -62.78,62.78z"
                                            fill="none"></path>
                                        <path
                                            d="M86,150.5c-35.62237,0 -64.5,-28.87763 -64.5,-64.5v0c0,-35.62237 28.87763,-64.5 64.5,-64.5h0c35.62237,0 64.5,28.87763 64.5,64.5v0c0,35.62237 -28.87763,64.5 -64.5,64.5z"
                                            fill="none"></path>
                                        <path
                                            d="M86,147.06c-33.72251,0 -61.06,-27.33749 -61.06,-61.06v0c0,-33.72251 27.33749,-61.06 61.06,-61.06h0c33.72251,0 61.06,27.33749 61.06,61.06v0c0,33.72251 -27.33749,61.06 -61.06,61.06z"
                                            fill="none"></path>
                                        <path
                                            d="M86,147.92c-34.19747,0 -61.92,-27.72253 -61.92,-61.92v0c0,-34.19747 27.72253,-61.92 61.92,-61.92v0c34.19747,0 61.92,27.72253 61.92,61.92v0c0,34.19747 -27.72253,61.92 -61.92,61.92z"
                                            fill="none"></path>
                                        <path
                                            d="M86,144.48c-32.29761,0 -58.48,-26.18239 -58.48,-58.48v0c0,-32.29761 26.18239,-58.48 58.48,-58.48v0c32.29761,0 58.48,26.18239 58.48,58.48v0c0,32.29761 -26.18239,58.48 -58.48,58.48z"
                                            fill="none"></path>
                                        <path
                                            d="M86,149.64c-35.1474,0 -63.64,-28.4926 -63.64,-63.64v0c0,-35.1474 28.4926,-63.64 63.64,-63.64v0c35.1474,0 63.64,28.4926 63.64,63.64v0c0,35.1474 -28.4926,63.64 -63.64,63.64z"
                                            fill="none"></path>
                                        <path
                                            d="M86,146.2c-33.24754,0 -60.2,-26.95246 -60.2,-60.2v0c0,-33.24754 26.95246,-60.2 60.2,-60.2v0c33.24754,0 60.2,26.95246 60.2,60.2v0c0,33.24754 -26.95246,60.2 -60.2,60.2z"
                                            fill="none"></path>
                                        <path
                                            d="M86,169.42c-46.07159,0 -83.42,-37.34841 -83.42,-83.42v0c0,-46.07159 37.34841,-83.42 83.42,-83.42v0c46.07159,0 83.42,37.34841 83.42,83.42v0c0,46.07159 -37.34841,83.42 -83.42,83.42z"
                                            fill="none"></path>
                                        <path
                                            d="M86,165.98c-44.17173,0 -79.98,-35.80827 -79.98,-79.98v0c0,-44.17173 35.80827,-79.98 79.98,-79.98v0c44.17173,0 79.98,35.80827 79.98,79.98v0c0,44.17173 -35.80827,79.98 -79.98,79.98z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                        <path
                                            d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86h0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z"
                                            fill="none"></path>
                                        <path
                                            d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56h0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z"
                                            fill="none"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="col-8">
                            <strong>WEEKEND GIFTS</strong>
                            <p>Big promotion, get gifts every Saturday and Sunday</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SALE PRODUCTS -->
            <% if(data.saleDB.length !=0){%>
                <div class=" mt-5 ml-0 sale container-fluid main row">
                    <div class=" col">
                        <div class="bg-light rounded">
                            <h3 class="text-center ">
                                <i class="fab fa-hotjar text-danger"></i> SALE
                            </h3>
                        </div>
                        <div class="owl-carousel sale-carousel mt-4">
                            <% for(let i=0 ; i < data.saleDB.length; i++){ %>
                                <div class="item">
                                    <div class="discount d-flex ml-auto align-items-center">
                                        <div class="icon-discount">
                                            <img class="img-fluid"
                                                src="https://img.icons8.com/color/48/000000/discount--v1.png" />
                                        </div>
                                        <div id="discount-content" class="ml-3 text-truncate">
                                            <%= data.saleDB[i].caption %>
                                        </div>
                                    </div>
                                    <div class="card card-product">
                                        <div class="card-top">
                                            <img src="/image/product/<%= JSON.parse(data.saleDB[i].image)[0] %>"
                                                class="card-product-img-top img-fluid" alt="...">
                                            <div class="d-none" id='image<%= data.saleDB[i].id %>'>
                                                <%= JSON.parse(data.saleDB[i].image)[0]%>
                                            </div>
                                        </div>
                                        <div class="card-body card-body-product ">
                                            <p class="card-text name-product" id='name<%= data.saleDB[i].id %>'>
                                                <%= data.saleDB[i].name %>
                                            </p>
                                            <label class='d-none' id='quantity<%= data.saleDB[i].id %>'>1</label>
                                            <div class="card-bottom-product mt-auto">
                                                <h6 class="card-title">
                                                    <% if(data.saleDB[i].value !=100 ){%>
                                                        <strike>
                                                            <%=data.saleDB[i].price + data.saleDB[i].unit%>
                                                        </strike>
                                                        <span class="card-title float-right discount-price"
                                                            id='price<%= data.saleDB[i].id %>'>
                                                            <%=(data.saleDB[i].price*data.saleDB[i].value /100)+
                                                                data.saleDB[i].unit%>
                                                        </span>
                                                        <%}else{%>
                                                            <span class="card-title" id='price<%= data.saleDB[i].id %>'>
                                                                <%=data.saleDB[i].price + data.saleDB[i].unit%>
                                                            </span>
                                                            <% }%>
                                                </h6>
                                                <% if(data.saleDB[i].size){%>
                                                    <div class='d-none' id="size<%=data.saleDB[i].id %>">
                                                        this is size
                                                    </div>
                                                    <%}%>
                                                        <% if(data.saleDB[i].color){%>
                                                            <div class='d-none' id="color<%=data.saleDB[i].id %>">
                                                                this is color
                                                            </div>
                                                            <%}%>
                                            </div>
                                        </div>
                                        <div class="card-product-btn text-center">
                                            <a class=" btn-card-product btn-buy btn-add-to-cart"
                                                data-id='<%= data.saleDB[i].id %>'><i
                                                    class="fas fa-shopping-basket"></i></a>
                                            <a href="../detail/?id=<%=data.saleDB[i].id%>"
                                                class=" btn-card-product btn-detail"><i class="fas fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                        </div>
                    </div>
                </div>
                <%}%>
                    <!-- SHOES -->
                    <% if(data.shoesDB.length !=0){%>
                        <div class=" mt-5 ml-0 container-fluid main row">
                            <div class=" col">
                                <div class="bg-light rounded">
                                    <h3 class="text-center ">
                                        SHOES
                                    </h3>
                                </div>
                                <div class="owl-carousel product-carousel mt-4">
                                    <% for(let i=0 ; i < data.shoesDB.length; i++){ %>
                                        <div class="item">
                                            <div class="discount d-flex ml-auto align-items-center">
                                                <% if(data.shoesDB[i].caption !=null){%>
                                                    <div class="icon-discount">
                                                        <img class="img-fluid"
                                                            src="https://img.icons8.com/color/48/000000/discount--v1.png" />
                                                    </div>
                                                    <div id="discount-content" class="ml-3 text-truncate">
                                                        <%= data.shoesDB[i].caption %>
                                                    </div>
                                                    <%}%>
                                            </div>
                                            <div class="card card-product">
                                                <div class="card-top">
                                                    <img src="/image/product/<%= JSON.parse(data.shoesDB[i].image)[0] %>"
                                                        class="card-product-img-top" alt="...">
                                                    <div class="d-none" id='image<%= data.shoesDB[i].id %>'>
                                                        <%= JSON.parse(data.shoesDB[i].image)[0]%>
                                                    </div>
                                                </div>
                                                <div class="card-body card-body-product ">
                                                    <p class="card-text name-product"
                                                        id='name<%= data.shoesDB[i].id %>'>
                                                        <%= data.shoesDB[i].name %>
                                                    </p>
                                                    <label class='d-none'
                                                        id='quantity<%= data.shoesDB[i].id %>'>1</label>
                                                    <% if(data.shoesDB[i].size){%>
                                                        <div class='d-none' id="size<%=data.shoesDB[i].id %>">
                                                            this is size
                                                        </div>
                                                        <%}%>
                                                            <% if(data.shoesDB[i].color){%>
                                                                <div class='d-none' id="color<%=data.shoesDB[i].id %>">
                                                                    this is color
                                                                </div>
                                                                <%}%>
                                                                    <div class="card-bottom-product mt-auto">
                                                                        <h6 class="card-title">
                                                                            <% if(data.shoesDB[i].value !=100 &&
                                                                                data.shoesDB[i].value !=null){%>
                                                                                <strike>
                                                                                    <%=data.shoesDB[i].price +
                                                                                        data.shoesDB[i].unit%>
                                                                                </strike>
                                                                                <span
                                                                                    class="card-title float-right discount-price"
                                                                                    id='price<%= data.shoesDB[i].id %>'>
                                                                                    <%=(data.shoesDB[i].price*data.shoesDB[i].value
                                                                                        /100)+ data.shoesDB[i].unit%>
                                                                                </span>
                                                                                <%}else{%>
                                                                                    <span class="card-title"
                                                                                        id='price<%= data.shoesDB[i].id %>'>
                                                                                        <%=data.shoesDB[i].price +
                                                                                            data.shoesDB[i].unit%>
                                                                                    </span>
                                                                                    <% }%>
                                                                        </h6>
                                                                    </div>
                                                </div>
                                                <div class="card-product-btn text-center">
                                                    <a class=" btn-card-product btn-buy btn-add-to-cart"
                                                        data-id='<%=data.shoesDB[i].id %>'><i
                                                            class="fas fa-shopping-basket"></i></a>
                                                    <a href="../detail/?id=<%=data.shoesDB[i].id%>"
                                                        class=" btn-card-product btn-detail"><i
                                                            class="fas fa-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                            </div>
                        </div>
                        <%}%>
                            <!-- Shirt -->
                            <% if(data.shirtDB){%>
                                <div class=" mt-5 ml-0 container-fluid main row">
                                    <div class=" col">
                                        <div class="bg-light rounded">
                                            <h3 class="text-center ">
                                                SHIRT
                                            </h3>
                                        </div>
                                        <div class="owl-carousel product-carousel mt-4">
                                            <% for(let i=0 ; i < data.shirtDB.length; i++){ %>
                                                <div class="item">
                                                    <div class="discount d-flex ml-auto align-items-center">
                                                        <% if(data.shirtDB[i].caption !=null){%>
                                                            <div class="icon-discount">
                                                                <img class="img-fluid"
                                                                    src="https://img.icons8.com/color/48/000000/discount--v1.png" />
                                                            </div>
                                                            <div id="discount-content" class="ml-3 text-truncate">
                                                                <%= data.shirtDB[i].caption %>
                                                            </div>
                                                            <%}%>
                                                    </div>
                                                    <div class="card card-product">
                                                        <div class="card-top">
                                                            <img src="/image/product/<%= JSON.parse(data.shirtDB[i].image)[0] %>"
                                                                class="card-product-img-top img-fluid" alt="...">
                                                            <div class="d-none" id='image<%= data.shirtDB[i].id %>'>
                                                                <%= JSON.parse(data.shirtDB[i].image)[0]%>
                                                            </div>
                                                        </div>
                                                        <div class="card-body card-body-product ">
                                                            <p class="card-text name-product"
                                                                id='name<%= data.shirtDB[i].id %>'>
                                                                <%= data.shirtDB[i].name %>
                                                            </p>
                                                            <label class='d-none'
                                                                id='quantity<%= data.shirtDB[i].id %>'>1</label>
                                                            <% if(data.shirtDB[i].size){%>
                                                                <div class='d-none' id="size<%=data.shirtDB[i].id %>">
                                                                    this is size
                                                                </div>
                                                                <%}%>
                                                                    <% if(data.shirtDB[i].color){%>
                                                                        <div class='d-none'
                                                                            id="color<%=data.shirtDB[i].id %>">
                                                                            this is color
                                                                        </div>
                                                                        <%}%>
                                                                            <div class="card-bottom-product mt-auto">
                                                                                <h6 class="card-title">
                                                                                    <% if(data.shirtDB[i].value !=100 &&
                                                                                        data.shirtDB[i].value !=null){%>
                                                                                        <strike>
                                                                                            <%=data.shirtDB[i].price +
                                                                                                data.shirtDB[i].unit%>
                                                                                        </strike>
                                                                                        <span
                                                                                            class="card-title float-right discount-price"
                                                                                            id='price<%= data.shirtDB[i].id %>'>
                                                                                            <%=(data.shirtDB[i].price*data.shirtDB[i].value
                                                                                                /100)+
                                                                                                data.shirtDB[i].unit%>
                                                                                        </span>
                                                                                        <%}else{%>
                                                                                            <span class="card-title"
                                                                                                id='price<%= data.shirtDB[i].id %>'>
                                                                                                <%=data.shirtDB[i].price
                                                                                                    +
                                                                                                    data.shirtDB[i].unit%>
                                                                                            </span>
                                                                                            <% }%>
                                                                                </h6>
                                                                            </div>
                                                        </div>
                                                        <div class="card-product-btn text-center">
                                                            <a class=" btn-card-product btn-buy btn-add-to-cart"
                                                                data-id='<%= data.shirtDB[i].id%>'><i
                                                                    class="fas fa-shopping-basket"></i></a>
                                                            <a href="../detail/?id=<%= data.shirtDB[i].id %>"
                                                                class=" btn-card-product btn-detail"><i
                                                                    class="fas fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                                    <!-- Fashion accessories -->
                                    <% if(data.accessoriesDB.length !=0){%>
                                        <div class=" mt-5 ml-0 container-fluid main row">
                                            <div class=" col">
                                                <div class="bg-light rounded">
                                                    <h3 class="text-center ">
                                                        FASHION ACCESSORIES
                                                    </h3>
                                                </div>
                                                <div class="owl-carousel product-carousel mt-4">
                                                    <% for(let i=0 ; i < data.accessoriesDB.length; i++){ %>
                                                        <div class="item">
                                                            <div class="discount d-flex ml-auto align-items-center">
                                                                <% if(data.accessoriesDB[i].caption !=null){%>
                                                                    <div class="icon-discount">
                                                                        <img class="img-fluid"
                                                                            src="https://img.icons8.com/color/48/000000/discount--v1.png" />
                                                                    </div>
                                                                    <div id="discount-content"
                                                                        class="ml-3 text-truncate">
                                                                        <%= data.accessoriesDB[i].caption %>
                                                                    </div>
                                                                    <%}%>
                                                            </div>
                                                            <div class="card card-product">
                                                                <div class="card-top">
                                                                    <img src="/image/product/<%= JSON.parse(data.accessoriesDB[i].image)[0]%>"
                                                                        class="card-product-img-top img-fluid"
                                                                        alt="...">
                                                                    <div class="d-none"
                                                                        id='image<%= data.accessoriesDB[i].id %>'>
                                                                        <%= JSON.parse(data.accessoriesDB[i].image)[0]%>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body card-body-product ">
                                                                    <p class="card-text name-product"
                                                                        id='name<%= data.accessoriesDB[i].id %>'>
                                                                        <%= data.accessoriesDB[i].name %>
                                                                    </p>
                                                                    <label class='d-none'
                                                                        id='quantity<%= data.accessoriesDB[i].id %>'>1</label>
                                                                    <% if(data.accessoriesDB[i].size){%>
                                                                        <div class='d-none'
                                                                            id="size<%=data.accessoriesDB[i].id %>">
                                                                            this is size
                                                                        </div>
                                                                        <%}%>
                                                                            <% if(data.accessoriesDB[i].color){%>
                                                                                <div class='d-none'
                                                                                    id="color<%=data.accessoriesDB[i].id %>">
                                                                                    this is color
                                                                                </div>
                                                                                <%}%>
                                                                                    <div
                                                                                        class="card-bottom-product mt-auto">
                                                                                        <h6 class="card-title">
                                                                                            <% if(data.accessoriesDB[i].value
                                                                                                !=100 &&
                                                                                                data.accessoriesDB[i].value
                                                                                                !=null){%>
                                                                                                <strike>
                                                                                                    <%=data.accessoriesDB[i].price
                                                                                                        +
                                                                                                        data.accessoriesDB[i].unit%>
                                                                                                </strike>
                                                                                                <span
                                                                                                    class="card-title float-right discount-price"
                                                                                                    id='price<%= data.accessoriesDB[i].id %>'>
                                                                                                    <%=(data.accessoriesDB[i].price*data.accessoriesDB[i].value
                                                                                                        /100)+
                                                                                                        data.accessoriesDB[i].unit%>
                                                                                                </span>
                                                                                                <%}else{%>
                                                                                                    <span
                                                                                                        class="card-title"
                                                                                                        id='price<%= data.accessoriesDB[i].id %>'>
                                                                                                        <%=data.accessoriesDB[i].price
                                                                                                            +
                                                                                                            data.accessoriesDB[i].unit%>
                                                                                                    </span>
                                                                                                    <% }%>
                                                                                        </h6>
                                                                                    </div>
                                                                </div>
                                                                <div class="card-product-btn text-center">
                                                                    <a class=" btn-card-product btn-buy btn-add-to-cart"
                                                                        data-id='<%=data.accessoriesDB[i].id %>'><i
                                                                            class="fas fa-shopping-basket"></i></a>
                                                                    <a href="../detail/?id=<%= data.accessoriesDB[i].id %>"
                                                                        class=" btn-card-product btn-detail"><i
                                                                            class="fas fa-search"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <%}%>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                            <!-- News -->
                                            <% if(data.newsDB.length !=0){%>
                                                <div class=" mt-5 ml-0  container-fluid main row">
                                                    <div class=" col">
                                                        <div class="bg-light rounded">
                                                            <h3 class="text-center ">
                                                                NEWS
                                                            </h3>
                                                        </div>
                                                        <div class="owl-carousel news-carousel mt-4 mb-5">
                                                            <% for(let i=0 ; i < data.newsDB.length; i++){ %>
                                                                <div class="item">
                                                                    <a class='hrefnews text-dark'
                                                                        href="../news/?id=<%=data.newsDB[i].id%>">
                                                                        <div class="card card-product card-news"
                                                                            style="width: 18rem;">
                                                                            <img class="img-fluid"
                                                                                src="/image/news/<%=data.newsDB[i].image%>"
                                                                                class="card-img-top" alt="...">
                                                                            <div class="card-body card-body-product">
                                                                                <p class="card-text caption-news">
                                                                                    <%=data.newsDB[i].caption%>
                                                                                </p>
                                                                            </div>
                                                                            <div
                                                                                class="card-footer card-bottom-product">
                                                                                <p>
                                                                                    <small class="text-muted">Creating
                                                                                        date
                                                                                        <%=data.newsDB[i].created_date%>
                                                                                    </small>
                                                                                    <i class="text-muted float-right"><small>by
                                                                                            <%=data.newsDB[i].author%>
                                                                                        </small></i>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                <%}%>
                                                        </div>
                                                    </div>
                                                </div>
                                                <%}%>
                                                    <%- include('../common/bottom'); %>
                                                        <%- include('../common/toast'); %>
                                                            <script
                                                                src="http://localhost:3000/js/client/home.js"></script>
                                                            <script
                                                                src="http://localhost:3000/js/client/add-to-cart.js"></script>
                                                            <%- include('../common/footer'); %>