<%- include('../common/header'); %>
    <link rel="stylesheet" href="/css/login/login.css">

    <body>
        <div class="materialContainer">

            <div class="box">

                <div class="title">LOGIN</div>
                <div class="text-danger alert fw-bold">
                </div>
                <div class="input ">
                    <label for="name">Username</label>
                    <input class="username" type="text" name="name" id="name">
                    <span class="spin"></span>
                </div>

                <div class="input">
                    <label for="pass">Password</label>
                    <input class="password" type="password" name="pass" id="pass">
                    <span class="spin"></span>
                </div>

                <div class="button login">
                    <button><span>GO</span> <i class="fa fa-check"></i></button>
                </div>

                <a href="" class="pass-forgot">Forgot your password?</a>

            </div>

            <div class="overbox">
                <div class="material-button alt-2"><span class="shape"></span></div>

                <div class="title">REGISTER</div>

                <div class="input">
                    <label for="regname">Username</label>
                    <input class="user-register" type="text" name="regname" id="regname">
                    <span class="spin"></span>
                </div>

                <div class="input">
                    <label for="regpass">Password</label>
                    <input class="pass-register" type="password" name="regpass" id="regpass">
                    <span class="spin"></span>
                </div>

                <div class="input">
                    <label for="reregpass">Repeat Password</label>
                    <input class="repass-register" type="password" name="reregpass" id="reregpass">
                    <span class="spin"></span>
                </div>

                <div class="button register" id="five">
                    <button><span>NEXT</span></button>
                </div>
                <div id="modal-container">
                    <div class="modal-background">
                        <div class="modal">
                            <h2 class="content-modal text-info"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    </html>
    <script src="/js/client/login.js"></script>
    <%- include('../common/footer'); %>