<%- include('../common/header'); %>
    <link rel="stylesheet" href="http://localhost:3000/css/client/detail.css">
    <link rel="stylesheet" href="http://localhost:3000/css/client/home.css">
    <script src="http://localhost:3000/ckeditor/ckeditor.js"></script>
    <!-- Nav-Top -->
    <%- include('../common/nav'); %>
        <!-- Menu -->
        <%- include('../common/menu'); %>

            <div class="container mt-5 mb-5">
                <div class="row pt-5">
                    <h1>
                        <%=data.newsDB[0].caption%>
                    </h1>
                </div>
                <div class="row pt-4">
                    <p class="content-news">
                        <img class="img-fluid float-left m-3" src="/image/news/<%=data.newsDB[0].image%>" alt="">
                    </p>
                    <div class="ckeditor">
                        <textarea id="txt_noi_dung">
                            <%=data.newsDB[0].content%>
                        </textarea>
                    </div>
                </div>
                <p class='text-right text-muted'>
                    <%=data.newsDB[0].author%>
                </p>
                <p class=" text-muted d-block text-right">
                    <%=data.newsDB[0].created_date%>
                </p>
            </div>
            <% if(data.newsDB.length !=0){%>
                <div class=" mt-5 ml-0  container-fluid main row">
                    <div class=" col">
                        <div class="bg-light rounded">
                            <h5 class="text-left ">
                                Other
                            </h5>
                        </div>
                        <div class="owl-carousel news-carousel mt-4 mb-5">
                            <% for(let i=0 ; i < data.allNewsDB.length; i++){ %>
                                <div class="item">
                                    <a class='text-dark' href="../news/?id=<%=data.allNewsDB[i].id%>">
                                        <div class="card card-product card-news" style="width: 18rem;">
                                            <img class="img-fluid" src="/image/news/<%=data.allNewsDB[i].image%>"
                                                class="card-img-top" alt="...">
                                            <div class="card-body card-body-product">
                                                <p class="card-text caption-news">
                                                    <%=data.allNewsDB[i].caption%>
                                                </p>
                                            </div>
                                            <div class="card-footer card-bottom-product">
                                                <p>
                                                    <small class="text-muted">Creating date
                                                        <%=data.allNewsDB[i].created_date%>
                                                    </small>
                                                    <i class="text-muted float-right"><small>by
                                                            <%=data.allNewsDB[i].author%>
                                                        </small></i>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <%}%>
                        </div>
                    </div>
                </div>
                <%}%>
                    <%- include('../common/bottom'); %>
                        <script src="http://localhost:3000/js/client/news.js"></script>
                        <%- include('../common/footer'); %>