<%- include('../common/header'); %>
    <link rel="stylesheet" href="http://localhost:3000/css/client/payment.css">
    <!-- Nav-Top -->
    <%- include('../common/nav'); %>
        <!-- Menu -->
        <%- include('../common/menu'); %>

            <div class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-md-4 col-lg-4" id='information'>
                        <div class="header-field text-center font-weight-bold">
                            BILLING INFORMATION
                        </div>
                        <div class='body-field mt-5'>
                            <div class="name mt-2">
                                <strong class='d-block'>Full Name*</strong>
                                <input id='name' type="text" class="form-control">
                            </div>
                            <div class="phone mt-2">
                                <strong class='d-block'>Phonenumber*</strong>
                                <input id='phone' type="text" class="form-control">
                            </div>
                            <div class="email mt-2">
                                <strong class='d-block'>Email</strong>
                                <input id='email' type=" text" class="form-control">
                            </div>
                            <div class="description mt-2">
                                <strong class='d-block'>Description</strong>
                                <input id='description' type=" text" class="form-control">
                            </div>
                            <div class="recipients mt-2">
                                <strong class='d-block'>Recipients</strong>
                                <label class="method-ship ship mt-1 pl-4 pr-4 pt-2 pb-2">Ship To Address</label>
                                <label class="method-ship noship mt-1 pl-4 pr-4 pt-2 pb-2">At store</label>
                                <div id="address" style="display: none;">
                                    <div class="name mt-2">
                                        <strong class='d-block'>Province*</strong>
                                        <div class="form-group">
                                            <select class="form-control" id="province">
                                                <option>Choose province...</option>
                                                <% for(let i=0; i< data.provinceDB.length; i++) {%>
                                                    <option value="<%=data.provinceDB[i].id%>">
                                                        <%=data.provinceDB[i].name%>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="name mt-2">
                                        <strong class='d-block'>District*</strong>
                                        <div class="form-group">
                                            <select class="form-control" id="district">
                                                <option>Choose district...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="name mt-2">
                                        <strong class='d-block'>Ward*</strong>
                                        <div class="form-group">
                                            <select class="form-control" id="ward">
                                                <option>Choose ward...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="name mt-2">
                                        <strong class='d-block'>Address detail*</strong>
                                        <input type="text" class="form-control address-detail">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4" id='delivery'>
                        <div class="header-field text-center font-weight-bold">
                            FORM OF PAYMENT
                        </div>
                        <div class='body-field mt-5'>
                            <label class="method-payment payment-on-delivery mt-1 mr-2 pl-3 pr-3 pt-2 pb-2"
                                for='method1'>Cash on
                                delivery</label>
                            <label class="method-payment payment-by-card mt-1 pl-3 pr-3 pt-2 pb-2"
                                for='method2'>Credit/Debit
                                Card</label>
                            <input type="text" class="method-payment-input d-none" id='method1' value="Cash on delivery"
                                default>
                            <input type="text" class="method-payment-input d-none" id='method2'
                                value="Credit/Debit Card" default>
                        </div>

                    </div>
                    <div class="col-md-4 col-lg-4 " id='cart-payment'>
                        <div class="header-field text-center font-weight-bold">
                            CART
                        </div>
                        <div class='body-field mt-5'>
                            <div class="cart-body-payment ">
                                <div class="item-added">
                                    <div class="row">
                                        <div class="col-4">
                                            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/b574da1d-91af-424c-8778-11590785c861/blazer-mid-77-vintage-shoe-dNWPTj.png"
                                                alt="" class="img-fluid">
                                        </div>
                                        <span class="col-8">
                                            <p>
                                                <span class="name-item-added d-block">MLB mini bag original</span>
                                                <span class="d-block ">
                                                    <small class='quantity-item-added'>2</small>
                                                    <small> x </small>
                                                    <small class='price-item-added'>1500USD</small>
                                                </span>
                                                <span class="d-block ">
                                                    <small class='size-item-added'>7US</small>
                                                    <small> - </small>
                                                    <small class='color-item-added'>
                                                        <input width="20px" type="color" value="#808080" disabled>
                                                    </small>
                                                </span>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-bottom">
                                <div class="row">
                                    <div class="col">
                                        <hr>
                                        <p class="text-center">
                                            <strong>Total price: </strong>
                                            <span id='totalPricePayment'></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row text-center m-0 p-0 parent-btn-payment">
                                    <div class="btn btn-place-order btn-danger text-light pt-2 pb-2 m-2 d-line ">
                                        <i class="fas fa-check"></i>
                                        <small>PLACE ORDER</small>
                                    </div>
                                    <a href="../home"
                                        class="btn btn-ctn-shopping btn-dark text-light pt-2 pb-2 m-2 d-line">
                                        <i class="fas fa-caret-right"> </i>
                                        <small>CONTINUE SHOPPING</small>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <%- include('../common/bottom'); %>
                <%- include('../common/toast'); %>
                    <script src="http://localhost:3000/js/client/payment.js"></script>
                    <script src="http://localhost:3000/js/client/add-to-cart.js"></script>
                    <%- include('../common/footer'); %>