<%- include('../common/header'); %>
    <link rel="stylesheet" href="http://localhost:3000/css/client/product.css">
    <!-- Nav-Top -->
    <%- include('../common/nav'); %>
        <!-- Menu -->
        <%- include('../common/menu'); %>
            <!-- Slider -->
            <div class="slider">
                <div class="owl-carousel banner-home">
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/coolmate.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/newbalance.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/vans2.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/vans.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/bitis2.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/converse.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="/image/banner/home/jordan.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class=" mt-5 ml-0 container-fluid main row mb-5">
                    <% for(var i=0; i< data.ProductDB.length; i++) {%>
                        <div class="card mt-4 ml-1" style="width: 16rem;">
                            <% if (data.ProductDB[i].caption!=null) { %>
                                <div class="discount d-flex ml-auto align-items-center">
                                    <div class="icon-discount">
                                        <img class="img-fluid"
                                            src="https://img.icons8.com/color/48/000000/discount--v1.png" />
                                    </div>
                                    <div id="discount-content" class="ml-3 text-truncate">
                                        <%= data.ProductDB[i].caption %>
                                    </div>
                                </div>
                                <%}%>
                                    <div class="card-product">
                                        <img class="card-product-img-top img-fluid"
                                            src="/image/product/<%=  JSON.parse(data.ProductDB[i].image)[0]%>"
                                            alt="Card image cap">
                                        <div class="d-none" id='image<%= data.ProductDB[i].id %>'>
                                            <%= JSON.parse(data.ProductDB[i].image)[0]%>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text name-product" id='name<%= data.ProductDB[i].id %>'>
                                                <%= data.ProductDB[i].name %>
                                            </p>
                                            <label class='d-none' id='quantity<%= data.ProductDB[i].id %>'>1</label>
                                            <% if(data.ProductDB[i].size){%>
                                                <div class='d-none' id="size<%=data.ProductDB[i].id %>">
                                                    this is size
                                                </div>
                                                <%}%>
                                                    <% if(data.ProductDB[i].color){%>
                                                        <div class='d-none' id="color<%=data.ProductDB[i].id %>">
                                                            this is color
                                                        </div>
                                                        <%}%>
                                                            <div class=" mt-auto">
                                                                <h6 class="card-title">
                                                                    <% if(data.ProductDB[i].value !=100 &&
                                                                        data.ProductDB[i].value !=null){%>
                                                                        <strike>
                                                                            <%=data.ProductDB[i].price +
                                                                                data.ProductDB[i].unit%>
                                                                        </strike>
                                                                        <span
                                                                            class="card-title float-right discount-price"
                                                                            id='price<%= data.ProductDB[i].id %>'>
                                                                            <%=(data.ProductDB[i].price*data.ProductDB[i].value
                                                                                /100)+ data.ProductDB[i].unit%>
                                                                        </span>
                                                                        <%}else{%>
                                                                            <span class="card-title"
                                                                                id='price<%= data.ProductDB[i].id %>'>
                                                                                <%=data.ProductDB[i].price +
                                                                                    data.ProductDB[i].unit%>
                                                                            </span>
                                                                            <% }%>
                                                                </h6>
                                                            </div>
                                        </div>
                                    </div>

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-none">Cras justo odio</li>
                                    </ul>
                                    <div class="card-body text-center card-bottom-product">
                                        <button class="btn btn-primary btn-add-to-cart"
                                            data-id='<%=data.ProductDB[i].id%>' type="button">
                                            <a class="btn-card"><i class="fas fa-shopping-basket"></i> </a>
                                        </button>
                                        <button class="btn btn-primary" type="button">
                                            <a class="btn-card" href="../../detail/?id=<%= data.ProductDB[i].id %>"><i
                                                    class="fas fa-search"></i> </a>
                                        </button>
                                    </div>
                        </div>
                        <% } %>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link"
                                href="<%= data.fullUrl %>/product/?idCategory=<%= data.category %>&page=1&query=<%= data.query %>"
                                tabindex="-1">Previous</a>
                        </li>
                        <% for(let i=1 ; i <=data.totalPage; i++){ %>

                            <% if(data.page==i){ %>
                                <li class="page-item"></li>
                                <a class="page-link" style="background: rgb(165, 165, 165);"
                                    href="<%= data.fullUrl %>/product/?idCategory=<%= data.category %>&page=<%= i %>&query=<%= data.query %>">
                                    <%= i %>
                                </a>
                                </li>
                                <%} else { %>
                                    <li class="page-item"></li>
                                    <a class="page-link"
                                        href="<%= data.fullUrl %>/product/?idCategory=<%= data.category %>&page=<%= i %>&query=<%= data.query %>">
                                        <%= i %>
                                    </a>
                                    </li>
                                    <%} %>
                                        <%}; %>
                                            <li class="page-item">
                                                <a class="page-link"
                                                    href="<%= data.fullUrl %>/product/?idCategory=<%= data.category %>&page=<%= data.totalPage %>&query=<%= data.query %>">Next</a>
                                            </li>
                    </ul>
                </nav>
            </div>

            <%- include('../common/bottom'); %>
                <%- include('../common/toast'); %>
                    <script src="http://localhost:3000/js/client/home.js"></script>
                    <script src="http://localhost:3000/js/client/add-to-cart.js"></script>
                    <%- include('../common/footer'); %>