<%- include('../../common/headerAD'); %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../common/navAD'); %>

                <%- include('../../common/menuAD'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>
                                            <%- title %>
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- general form elements -->
                                        <div class="card ">
                                            <div class="card-header">
                                                <div class="alert alert-success" style="display: none;" role="alert">
                                                    Creat discount success!
                                                </div>
                                                <div class="alert alert-danger" style="display: none;" role="alert">
                                                    You need to enter all the information!
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <!-- form start -->
                                            <form>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="caption-discount">Caption discount</label>
                                                        <input type="text" class="form-control" id="caption-discount"
                                                            placeholder="Enter caption discount">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <textarea class="form-control" rows="3" placeholder="Enter ..."
                                                            id="description-discount"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Value (1-100%))</label>
                                                        <input class="form-control" type="number" id='value-discount'
                                                            min="0" max="100" value="100" placeholder="Enter %...">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="author">Author</label>
                                                        <input type="text" class="form-control" id="author"
                                                            placeholder="Author :">
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->
                                                <div class="card-footer">
                                                    <button type="button" id="btn-create-discount"
                                                        class="btn btn-primary ">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.card -->
                                        <!-- general form elements -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Control sidebar content goes here -->
                    </aside>
                    <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <%- include('../../common/footerAD'); %>