<%- include('../../common/headerAD'); %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../common/navAD'); %>

                <%- include('../../common/menuAD'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>
                                            <%- title %>
                                                Discount :
                                                <span>
                                                    <%= data.DiscountDB.caption %>
                                                </span>
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>
                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Default box -->
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="alert alert-success" style="display: none;" role="alert">
                                                    Creat discount success!
                                                </div>
                                                <div class="alert alert-danger" style="display: none;" role="alert">
                                                    You need to enter all the information!
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-header">
                                                    <h3 class="card-title">Search</h3>

                                                    <div class="card-tools">
                                                        <div class="input-group input-group-sm" style="width: 150px;">
                                                            <input type="text" name="table_search"
                                                                class="form-control float-right "
                                                                id='search-use-discount' placeholder="Search">

                                                            <div class="input-group-append "
                                                                id='btn-search-use-discount'>
                                                                <button type="button" class="btn btn-default"
                                                                    data-id="<%= data.DiscountDB.id %>">
                                                                    <i class="fas fa-search"></i>
                                                                    <input type="text" class="d-none idDiscount"
                                                                        value="<%= data.DiscountDB.id %>">
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.card-header -->
                                                <div class="card-body table-responsive p-0">
                                                    <table class="table table-hover text-nowrap">
                                                        <thead>
                                                            <tr>
                                                                <th>ID</th>
                                                                <th>Product Name</th>
                                                                <th>Category</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for(let i=0 ; i < data.ProductDB.length; i++){ %>
                                                                <tr>
                                                                    <td>
                                                                        <%= data.ProductDB[i].id; %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.ProductDB[i].name; %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data.ProductDB[i].title; %>
                                                                    </td>
                                                                    <td>
                                                                        <button
                                                                            class="btn-sm btn-success apply-discount "
                                                                            data-toggle="modal"
                                                                            data-target="#exampleModal"
                                                                            data-id="<%= data.ProductDB[i].id; %>">Apply</button>
                                                                    </td>
                                                                </tr>
                                                                <%}; %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /.card-body -->
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-center">
                                                    <li class="page-item disabled">
                                                        <a class="page-link"
                                                            href="<%= data.fullUrl %>/dashboard/listcategory?page=1&query=<%= data.query %>"
                                                            tabindex="-1">Previous</a>
                                                    </li>
                                                    <% for(let i=1 ; i <=data.totalPage; i++){ %>
                                                        <!-- background: red; -->

                                                        <% if(data.page==i){ %>
                                                            <li class="page-item"></li>
                                                            <a class="page-link" style="background: rgb(165, 165, 165);"
                                                                href="<%= data.fullUrl %>/dashboard/add-discount-product/<%= data.DiscountDB.id %>?page=<%= i %>&query=<%= data.query %>">
                                                                <%= i %>
                                                            </a>
                                                            </li>
                                                            <%} else { %>
                                                                <li class="page-item"></li>
                                                                <a class="page-link"
                                                                    href="<%= data.fullUrl %>/dashboard/add-discount-product/<%= data.DiscountDB.id %>?page=<%= i %>&query=<%= data.query %>">
                                                                    <%= i %>
                                                                </a>
                                                                </li>
                                                                <%} %>
                                                                    <%}; %>
                                                                        <li class="page-item">
                                                                            <a class="page-link"
                                                                                href="<%= data.fullUrl %>/dashboard/add-discount-product/<%= data.DiscountDB.id %>?page=<%= data.totalPage %>&query=<%= data.query %>">Next</a>
                                                                        </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- /.card-footer-->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            </div>
                    </div>
                    </section>
                    <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <%- include('../../common/footerAD'); %>