<%- include('../../common/headerAD'); %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../common/navAD'); %>

                <%- include('../../common/menuAD'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>
                                            <%- title %>
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- general form elements -->
                                        <div class="card ">
                                            <div class="card-header">
                                                <div class="alert alert-success" style="display: none;" role="alert">
                                                    Update category success!
                                                </div>
                                                <div class="alert alert-danger" style="display: none;" role="alert">
                                                    You need to enter all the information!
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <!-- form start -->
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="namecategory">Name category</label>
                                                    <input type="text" class="form-control" id="namecategory"
                                                        value="<%= data.CategoryUpdate.title %>">
                                                </div>
                                                <div class="form-group">
                                                    <label>Parent category</label>
                                                    <select class="form-control" id="parent_category">
                                                        <% if(data.ParentCategory){%>
                                                            <option value="<%= data.ParentCategory.id %>">
                                                                <%= data.ParentCategory.title %>
                                                            </option>
                                                            <%}%>
                                                                <option value="0">No parent category</option>
                                                                <% for(let i=0 ; i < data.CategoryDB.length ; i++) {%>
                                                                    <option value="<%= data.CategoryDB[i].id %>">
                                                                        <%= data.CategoryDB[i].title %>
                                                                    </option>
                                                                    <%}%>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" rows="3"
                                                        id="description-category"><%= data.CategoryUpdate.description %></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Gender</label>
                                                    <select class="form-control" id="gender-category">
                                                        <% if(data.CategoryUpdate.gender==1){ %>
                                                            <option value="1">Male</option>
                                                            <%}else if(data.CategoryUpdate.gender==2){ %>
                                                                <option value="2">Female</option>
                                                                <%} else if(data.CategoryUpdate.gender==3){ %>
                                                                    <option value="3">Children</option>
                                                                    <%}else{%>
                                                                        <option value="0">All</option>
                                                                        <%}%>
                                                                            <option value="1">Male</option>
                                                                            <option value="2">Female</option>
                                                                            <option value="3">Children</option>
                                                                            <option value="0">All</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <form action="" method="post" enctype="multipart/form-data"
                                                        id='form-upload-category-update'
                                                        name="form-upload-category-update">
                                                        <label class="" for="image-update-category"
                                                            style="cursor:pointer">Category
                                                            Image:
                                                            <label id='upload-image-category ' for="submit"
                                                                class="btn bg-success btn-app m-0 mt-2 d-block">
                                                                <i class="fas fa-upload"></i>upload
                                                            </label>
                                                            <input type="file" id='image-update-category' class="d-none"
                                                                name='image-category'
                                                                value="<%= data.CategoryUpdate.image %>">
                                                            <img id='preview'
                                                                src="/image/category/<%= data.CategoryUpdate.image %>"
                                                                class="icon-add-class mt-3 d-block" alt="addClass">
                                                            <input type="text" id='old-name' class='d-none'
                                                                value="<%= data.CategoryUpdate.image %>">
                                                        </label>
                                                        <input class="d-none" type="submit" id="submit"></input>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button type="button" id="btn-update-category" class="btn btn-primary  "
                                                    data-id="<%= data.CategoryUpdate.id %>">Submit</button>
                                            </div>
                                        </div>
                                        <!-- /.card -->

                                        <!-- general form elements -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Control sidebar content goes here -->
                    </aside>
                    <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <%- include('../../common/footerAD'); %>