<%- include('../../common/headerAD'); %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../common/navAD'); %>

                <%- include('../../common/menuAD'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>
                                            <%- title %>
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>
                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!--Default box-->
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Title</h3>

                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"
                                                        data-card-widget="collapse" title="Collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-tool" data-card-widget="remove"
                                                        title="Remove">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-body table-responsive p-0">
                                                    <table class="table table-hover text-nowrap text-center ">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Name product</th>
                                                                <th>Image</th>
                                                                <th>Size</th>
                                                                <th>Color</th>
                                                                <th>Quantity</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for(let i=0; i < data.length; i++){ %>
                                                                <tr>
                                                                    <td>
                                                                        <%= i+1 %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].name; %>
                                                                    </td>
                                                                    <td>
                                                                        <img width="80px"
                                                                            src="/image/product/<%= JSON.parse(data[i].image)[0]; %>"
                                                                            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                                                                            alt="">
                                                                    </td>

                                                                    <td>
                                                                        <% if(data[i].size){ %>
                                                                            <%= data[i].size %>
                                                                                <%}%>
                                                                    </td>
                                                                    <td>
                                                                        <% if(data[i].color){ %>
                                                                            <input type="color"
                                                                                value='<%= data[i].color %>' default>
                                                                            <%}%>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].quantity; %>
                                                                    </td>
                                                                </tr>
                                                                <%}; %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /.card-body-->
                                            </div>
                                        </div>
                                        <!-- /.card-body-->
                                    </div>
                                    <!-- /.card-->
                                </div>
                            </div>
                    </div>
                    </section>
                    < !-- /.content -->
        </div>
        < !-- /.content-wrapper -->
            < !--Control Sidebar-->
                <aside class="control-sidebar control-sidebar-dark">
                    <!-- Control sidebar content goes here -->
                </aside>
                <!-- /.control-sidebar -->
                </div>
                < !-- ./ wrapper-->
                    <%- include('../../common/footerAD'); %>