<%- include('../../common/headerAD'); %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../common/navAD'); %>

                <%- include('../../common/menuAD'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>
                                            <%- title %>
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>
                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!--Default box-->
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Title</h3>

                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"
                                                        data-card-widget="collapse" title="Collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-tool" data-card-widget="remove"
                                                        title="Remove">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-header">
                                                    <h3 class="card-title">Search</h3>

                                                    <div class="card-tools">
                                                        <div class="input-group input-group-sm" style="width: 150px;">
                                                            <input type="text" name="table_search"
                                                                class="form-control float-right " id='search-order'
                                                                placeholder="Search">

                                                            <div class="input-group-append " id='btn-search-order'>
                                                                <button type="submit" class="btn btn-default">
                                                                    <i class="fas fa-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.card-header-->
                                                <div class="card-body table-responsive p-0">
                                                    <table
                                                        class="table table-order table-hover text-nowrap text-center ">
                                                        <thead>
                                                            <tr>
                                                                <th>Code</th>
                                                                <th>FullName</th>
                                                                <th>Address</th>
                                                                <th>Phonenumber</th>
                                                                <th>Method</th>
                                                                <th>Total</th>
                                                                <th>Description</th>
                                                                <th>Status</th>
                                                                <th>Handler</th>
                                                                <th>Created Date</th>
                                                                <th>Updated Date</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for(let i=0; i < data.OrderDB.length; i++){ %>
                                                                <tr>
                                                                    <td class="text-wrap">
                                                                        <%= data.OrderDB[i].code; %>
                                                                    </td>
                                                                    <td class="text-wrap">
                                                                        <%= data.OrderDB[i].fullname; %>
                                                                    </td>
                                                                    <td class="text-wrap">
                                                                        <%= data.OrderDB[i].address; %>
                                                                    </td>
                                                                    <td class="text-wrap">
                                                                        0<%= data.OrderDB[i].phone; %>
                                                                    </td>
                                                                    <td class="text-wrap">
                                                                        <%= data.OrderDB[i].method; %>
                                                                    </td>
                                                                    <td class="text-wrap">
                                                                        <%= data.OrderDB[i].total; %>
                                                                    </td>
                                                                    <td class="text-wrap">
                                                                        <%= data.OrderDB[i].description; %>
                                                                    </td>
                                                                    <td class="text-wrap">
                                                                        <% if(data.OrderDB[i].status==0){ %>
                                                                            <button
                                                                                class="btn-xs btn-warning status-order "
                                                                                data-id="<%= data.OrderDB[i].id %>">pending</button>
                                                                            <%} else if (data.OrderDB[i].status==1) { %>
                                                                                <button
                                                                                    class="btn-xs btn-primary status-order"
                                                                                    data-id="<%= data.OrderDB[i].id %>">delivering</button>
                                                                                <%} else{ %>
                                                                                    <button class="btn-xs btn-success "
                                                                                        data-id="<%= data.OrderDB[i].id %>">complete</button>
                                                                                    <%} %>

                                                                    </td>
                                                                    <td class="text-wrap">
                                                                        <%= data.OrderDB[i].description; %>
                                                                    </td>
                                                                    <td class="text-wrap">
                                                                        <%= data.OrderDB[i].created_date; %>
                                                                    </td>
                                                                    <td class="text-wrap">
                                                                        <%= data.OrderDB[i].update; %>
                                                                    </td>
                                                                    <td class="text-wrap">
                                                                        <button class="btn-xs btn-info detail-order"
                                                                            data-id="<%= data.OrderDB[i].id; %>">detail</button>
                                                                        <button class="btn-xs btn-danger delete-order "
                                                                            data-toggle="modal"
                                                                            data-target="#exampleModal"
                                                                            data-id="<%= data.OrderDB[i].id; %>">delete</button>

                                                                        <div class="modal fade" id="exampleModal"
                                                                            tabindex="-1"
                                                                            aria-labelledby="exampleModalLabel"
                                                                            aria-hidden="true">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <h5 class="modal-title"
                                                                                            id="exampleModalLabel">
                                                                                            Warnning!

                                                                                        </h5>
                                                                                        <button type="button"
                                                                                            class="close"
                                                                                            data-dismiss="modal"
                                                                                            aria-label="Close">
                                                                                            <span
                                                                                                aria-hidden="true">&times;</span>
                                                                                        </button>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                        Delete cannot be restored! Are
                                                                                        you
                                                                                        sure?
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button"
                                                                                            class="btn btn-secondary"
                                                                                            data-dismiss="modal">Close</button>
                                                                                        <button type="button"
                                                                                            class="btn btn-primary modal-yes">Yes</button>


                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <%}; %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /.card-body-->
                                            </div>
                                        </div>
                                        <!-- /.card-body-->
                                        <div class="card-footer">
                                            <nav aria-label="Page navigation example">
                                                <ul class="pagination justify-content-center">
                                                    <li class="page-item disabled">
                                                        <a class="page-link"
                                                            href="<%= data.fullUrl %>/dashboard/listorder?page=1&query=<%= data.query %>"
                                                            tabindex="-1">Previous</a>
                                                    </li>
                                                    <% for(let i=1; i <=data.totalPage; i++){ %>
                                                        <!--background: red; -->

                                                        <% if(data.page==i){ %>
                                                            <li class="page-item"></li>
                                                            <a class="page-link" style="background: rgb(165, 165, 165);"
                                                                href="<%= data.fullUrl %>/dashboard/listorder?page=<%= i %>&query=<%= data.query %>">
                                                                <%= i %>
                                                            </a>
                                                            </li>
                                                            <%} else { %>
                                                                <li class="page-item"></li>
                                                                <a class="page-link"
                                                                    href="<%= data.fullUrl %>/dashboard/listorder?page=<%= i %>&query=<%= data.query %>">
                                                                    <%= i %>
                                                                </a>
                                                                </li>
                                                                <%} %>
                                                                    <%}; %>
                                                                        <li class="page-item">
                                                                            <a class="page-link"
                                                                                href="<%= data.fullUrl %>/dashboard/listorder?page=<%= data.totalPage %>&query=<%= data.query %>">Next</a>
                                                                        </li>
                                                </ul>
                                            </nav>
                                        </div>
                                        <!-- /.card-footer-->
                                    </div>
                                    <!-- /.card-->
                                </div>
                            </div>
                    </div>
                    </section>
                    < !-- /.content -->
        </div>
        < !-- /.content-wrapper -->
            < !--Control Sidebar-->
                <aside class="control-sidebar control-sidebar-dark">
                    <!-- Control sidebar content goes here -->
                </aside>
                <!-- /.control-sidebar -->
                </div>
                < !-- ./ wrapper-->
                    <%- include('../../common/footerAD'); %>