<!-- jQuery -->
<script src="http://localhost:3000/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="http://localhost:3000/plugins/bootstrap/js/bootstrap.js"></script>
<!-- overlayScrollbars -->
<script src="http://localhost:3000/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="http://localhost:3000/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="http://localhost:3000/dist/js/demo.js"></script>
<!-- SweetAlert2 -->
<script src="http://localhost:3000/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="http://localhost:3000/plugins/toastr/toastr.min.js"></script>
<!-- CKeditor -->
<script src="http://localhost:3000/ckeditor/ckeditor.js"></script>
<script src="ckeditor/ckeditor.js"></script>

<script src="http://localhost:3000/js/admin/admin.js"></script>

</body>

</html>