<!-- jQuery -->
<script src="http://localhost:3000/plugins/jquery/jquery.min.js"></script>
<!-- overlayScrollbars -->
<script src="http://localhost:3000/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="http://localhost:3000/dist/js/adminlte.min.js"></script>
<!-- SweetAlert2 -->
<script src="http://localhost:3000/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<link rel="stylesheet" href="http://localhost:3000/css/client/toast.css">
<!-- CKeditor -->
<script src="http://localhost:3000/ckeditor/ckeditor.js"></script>
<!-- Owl carosel -->
<script src="http://localhost:3000/owlcarousel/owl.carousel.min.js"></script>
<!-- Bootsrap -->
<script src="http://localhost:3000/js/bootstrap.js"></script>

<script src="http://localhost:3000/js/client/client.js"></script>

<script src="http://localhost:3000/js/client/menu.js"></script>

</body>

</html>