<!doctype html>
<html lang="en">

<head>
    <title>Turborvip Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:3000/css/client/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="http://localhost:3000/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="http://localhost:3000/owlcarousel/assets/owl.theme.default.min.css">
    <!-- jQuery -->
    <script src="http://localhost:3000/js/jquery-1.11.1.min.js"></script>

</head>