<div class="container-fluid menu-top sticky-top ">
    <nav class="navbar navbar-expand-lg navbar-light position-relative">
        <a class="navbar-brand" href="http://localhost:3000/home">TurborvipShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
                <li class="nav-item gender-category  pl-4 pr-4 active ">
                    <a class="nav-link gender-menu " data-id="1" href="#">
                        <span>MAN</span>
                    </a>
                    <div class="menu-child " id="male-category">
                    </div>
                </li>
                <li class="nav-item gender-category pl-4 pr-4  active ">
                    <a class="nav-link gender-menu" data-id="2" href="#"> <span>WOMAN</span> </a>
                    <div class="menu-child" id="female-category">
                    </div>
                </li>
                <li class="nav-item gender-category  pl-4 pr-4 active">
                    <a class="nav-link gender-menu" data-id="3" href="#"> <span>KIDS</span> </a>
                    <div class="menu-child" id="child-category">
                    </div>
                </li>
            </ul>
            <div class="navbar-nav position-relative">
                <li class="nav-item ">
                    <a class="nav-link cart">
                        <img src="https://img.icons8.com/windows/32/000000/shopping-cart.png" />
                        <span class='text-danger' id='lengthCart'></span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link user icon-menu">
                        <img src="https://img.icons8.com/windows/32/000000/user.png" />
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link logout icon-menu">
                        <img src="https://img.icons8.com/ios-glyphs/28/000000/logout-rounded--v1.png" />
                    </a>
                </li>
            </div>
        </ul>
        <div class='cart-main'>
            <div class="cart-body ">
                <div class="item-added">
                    <div class="row">
                        <div class="col-4">
                            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/b574da1d-91af-424c-8778-11590785c861/blazer-mid-77-vintage-shoe-dNWPTj.png"
                                alt="" class="img-fluid">
                        </div>
                        <span class="col-8">
                            <p>
                                <span class="name-item-added d-block">MLB mini bag original</span>
                                <span class="d-block ">
                                    <small class='quantity-item-added'>2</small>
                                    <small> x </small>
                                    <small class='price-item-added'>1500USD</small>
                                </span>
                                <span class="d-block ">
                                    <small class='size-item-added'>7US</small>
                                    <small> - </small>
                                    <small class='color-item-added'>
                                        <input width="20px" type="color" value="#808080" disabled>
                                    </small>
                                </span>
                            </p>
                        </span>
                    </div>
                    <div class='rounded-circle text-center btn-remove-item-added ' data-id="">
                        x</div>
                </div>
            </div>
            <div class="cart-bottom">
                <div class="row">
                    <div class="col">
                        <hr>
                        <p class="text-center">
                            <strong>Total price: </strong>
                            <span id='totalPrice'></span>
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="row text-center m-0 p-0 parent-btn-payment">
                    <a href="http://localhost:3000/payment"
                        class="btn btn-payment btn-danger text-light pt-2 pb-2 m-2 d-line">
                        <i class="fas fa-caret-right"> </i>
                        Checkout
                    </a>
                    <div class="btn btn-payment btn-dark text-light pt-2 pb-2 m-2 d-line">
                        <i class="fas fa-caret-right"> </i>
                        Cart
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>