<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link link-dashboard">
        <span class="brand-text font-weight-light d-block text-center">Turborvip Shop</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="http://localhost:3000/dist/img/user2-160x160.jpg" class="img-circle elevation-2"
                    alt="User Image">
            </div>
            <div class="info">
                <a class="d-block link-dashboard">Admin Page</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Users
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href='http://localhost:3000/dashboard/listusers' class="nav-link listuser">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List user</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/dashboard/createusers" class="nav-link creatuser">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create user</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-poll-h"></i>
                        <p>
                            Category
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="http://localhost:3000/dashboard/listcategory" class="nav-link list-category">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List category</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/dashboard/createcategory" class="nav-link create-category">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create category</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tshirt"></i>
                        <p>
                            Product
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="http://localhost:3000/dashboard/listproduct" class="nav-link list-product">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List product</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/dashboard/createproduct" class="nav-link create-product">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create product</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-clipboard"></i>
                        <p>
                            Order
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="http://localhost:3000/dashboard/listorder" class="nav-link list-order">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List order</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            News
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="http://localhost:3000/dashboard/listnews" class="nav-link list-news">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List news</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/dashboard/createnews" class="nav-link create-news">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create news</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-percent"></i>
                        <p>
                            Discount
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="http://localhost:3000/dashboard/listdiscount" class="nav-link list-discount">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List Discount</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/dashboard/list-discount-product"
                                class="nav-link list-discount-product">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List Discount - Product</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/dashboard/creatediscount" class="nav-link create-discount">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create Discount</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>