<nav class="navbar navbar-expand-lg nav-header">
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-angle-down" style="color:white "></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav m-auto mt-lg-0 ">
            <li class="nav-item nav-header-item ">
                <a class="nav-link">Hotline : 19001009 (8h - 17h)</a>
            </li>
            <li class="nav-item nav-header-item">
                <a class="nav-link" href="#">Service</a>
            </li>
            <li class="nav-item nav-header-item">
                <a class="nav-link " href="#">News</a>
            </li>
            <li class="nav-item nav-header-item">
                <a class="nav-link " href="#">Discount</a>
            </li>
            <li class="nav-item nav-header-item">
                <a class="nav-link " href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>