<div class="all-toast">
    <div class="toast-success row m-0 pt-2 pb-2 mt-2">
        <div class="col-3  icon-toast">
            <i class="fas fa-check top-50 start-50 translate-middle"></i>
        </div>
        <div class="col-9 toast-content p-1">
            Success!
        </div>
    </div>
    <div class="toast-danger row m-0 pt-2 pb-2 mt-2">
        <div class="col-3  icon-toast">
            <i class="fas fa-times "></i>
        </div>
        <div class="col-9 toast-content toast-danger-content p-2">
            You must enter all the options!
        </div>
    </div>
</div>