.changepass {
    display: none;
}

.btn-changepass,
.btn-myaccount,
.btn-purchase-history {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.btn-changepass:hover,
.btn-myaccount:hover,
.btn-purchase-history:hover {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.changepass {
    display: none;
}

.btn-changepass,
.btn-myaccount,
.btn-purchase-history {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.btn-changepass:hover,
.btn-myaccount:hover,
.btn-purchase-history:hover {
    cursor: pointer;
    text-decoration: none;
    color: black;
}