.content-wrap{
    position: relative;
}
.tab-content{
    display: none;
}
.tab-item{
    border : 1px rgb(197, 197, 197) solid;
    opacity: 0.5;
}
.active{
    display: block;
    opacity: 1;
}
/* Zoom */
.magnify {
    width: 75%;
    margin: 50px auto;
    position: relative;
}

.large {
    width: 45%;
    height: 45%;
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
        0 0 7px 7px rgba(0, 0, 0, 0.25),
        inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
}

.small {
    display: block;
}
/* End Zoom */
.discount{
    top: 0;
    position: absolute;
    z-index: 3;
}
#discount-content{
    width: fit-content;
    color: red;
    font-size: larger;
    font-weight: 800;
    font-family: calibri;
}
.name-item{
    font-weight: 800;
    font-family: calibri;
}
.discount-price{
   color: red; 
}
.size,.color{
    opacity: 0.4;
    border: 1px solid rgb(143, 143, 143);
    cursor: pointer;
    width: fit-content;
}
.input-color{
    cursor: pointer;
}
.active-num-size,.active-num-color{
    opacity: 1;
}
.btn-big {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
}

.btn-big::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fc2f70;
  transform-origin: center bottom;
  transform: scaleY(0);
  transition: transform 0.25s ease-in-out;
}

.btn-big:hover {
  cursor: pointer;
}

.btn-big:hover::before {
  transform-origin: center top;
  transform: scaleY(1);
}
.quantity{
    background-color:rgb(0, 86, 136) ;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.addition,.subtraction{
    color: white;
    cursor: pointer;
    padding: 0.7rem;
}
.quantity-output{
    background-color: white;
    padding: 1rem;
}
