.nav-header-item>a{
    color: white;
}
.nav-header-item{
    padding: 0px 10px;
    transition: 0.2s;
}
.nav-header-item :hover{
    background-color:white;
    color: black;
    transition: ease 0.2s;
}
.function {
    box-shadow: 1px 1px 20px 1px #cac9c9;
}
.card-product {
    position: relative;
    height: 400px;
    transition: 0.2s;
}
.card-product:hover .card-top{
    display: block;
    opacity: 0.7;
    transition: ease-in-out 0.2s;
}

.card-product:hover .card-body-product{
    opacity: 0.7;
    transition: ease-in-out 0.2s;
}
.card-product:hover .card-product-btn{
    display: block;
    opacity: 1;
    transition:ease-in-out 0.2s; 
}
.card-top{
    height: 60%;
    position: relative;
    z-index: 2;
}
.card-product-img-top{
    display: block;
    position:relative;
    transition: 2s;
    max-height: 100%;
    max-width: 70% ;
    padding: 10%;
    margin: auto;
}
.logo-icon{
    position: absolute;
    width: 20%;
    bottom:5%;
}
.logo-icon>img{
    margin: auto;
}
.card-body-product{
    display: flex;
    flex-direction: column;
}
.card-bottom-product{
    margin-top: auto;
}
.name-product,.caption-news{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.card-product-btn{
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition:  ease-in-out 0.3s;
}
.btn-card-product{
    display: inline;
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 4% 5% 4% 5%;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
}
.discount{
    top: 0;
    position: absolute;
    z-index: 3;
}
#discount-content{
    width: fit-content;
    color: red;
    font-size: larger;
    font-weight: 800;
    font-family: calibri;
}
.discount-price{
   color: red; 
}
.card-news{
    cursor: pointer;
}
.item>a{
    text-decoration: none;
}
