.nav-header{
    background-color: black;
    padding: 0;
}
.nav-item:hover .menu-child {
    display: block;
}
.gender-category:hover{
  background-color: rgb(198, 255, 195);
}
.menu-top{
    background-color: white;
}
.menu-child {
    display: none;
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 15px 15px;
    z-index: 50;
    opacity: 0.9;
    overflow-y:scroll;
    left: 0;
}
.cart,.user,.logout{
  width: fit-content;
}
.icon-menu{
    transition: ease 0.2s;
}
.icon-menu:hover{
    transform: rotateY(150deg);
    transition: 0.4s;
}
.cart>span{
    color: red;
}
.cart {
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
}

.cart:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
.gender-menu{
  width: fit-content;
  margin: auto;
  display: block;
}
.gender-menu>span {
  position: relative;
}

.gender-menu>span::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fc2f70;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.gender-menu>span:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.categorychild>a{
  text-decoration: none;
  color: black;
}
/* cart */
.item-added{
  position: relative;
}
.cart-main{
  display:none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  right: 0;
  float: right;
  top: 100%;
  width: 25%;
  max-height: 500px;
  padding: 1%;
  box-shadow: 2px 2px 10px 3px #dadada;
  overflow-y: auto;
  overflow-x: hidden;
}

.btn-remove-item-added{
  cursor: pointer;
  position:absolute;
  color: rgb(0, 0, 0);
  width: 1.6rem;
  height:1.6rem;
  top:0%;
  right: 0%;
  background-color: rgb(185, 185, 185);
  opacity: 0.4;
}

.parent-btn-payment{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout,.user{
  cursor: pointer;
}