.btn-card{
    color: white;
    text-decoration: none;
}
.btn-card:hover{
    color: white;
    text-decoration: none;
}
.name-product,.caption-news{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.discount{
    top: 0;
    position: absolute;
    z-index: 3;
}
#discount-content{
    width: fit-content;
    color: red;
    font-size: larger;
    font-weight: 800;
    font-family: calibri;
}
.discount-price{
   color: red; 
}
.card-bottom-product{
    margin-top: auto;
}
.discount-price{
   color: red; 
}
.card-product-img-top{
    padding: 15%;
    transition: 2s;
}
.card-product {
    position: relative;
    height: 400px;
    transition: 0.2s;
}