.all-toast{
    position: fixed;
    top: 19%;
    right: 0.5%;
    z-index: 99;
    width: 20%;
}
.toast-success{
    color: white;
    background-color: rgb(0, 177, 53);
    font-size: medium;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 20px 10px rgb(206, 206, 206);
    opacity: 0.9;
}
.toast-danger{
    color: white;
    background-color: rgb(177, 12, 0);
    font-size: medium;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 20px 10px rgb(211, 211, 211);
    opacity: 0.9;
}
.icon-toast{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-toast>i{
    font-size:x-large;
}
.btn-add-to-cart{
    cursor: pointer;
}