<%- include('../../common/headerAD'); %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../common/navAD'); %>

                <%- include('../../common/menuAD'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>
                                            <%- title %>
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- general form elements -->
                                        <div class="card ">
                                            <div class="card-header">
                                                <div class="alert alert-success" style="display: none;" role="alert">
                                                    Creat user success!
                                                </div>
                                                <div class="alert alert-danger" style="display: none;" role="alert">
                                                    You need to enter all the information!
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <!-- form start -->
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="usersname">Username</label>
                                                    <input type="text" class="form-control" id="usersname"
                                                        placeholder="Enter username">
                                                </div>
                                                <div class="form-group">
                                                    <label for="nameUsers">Name</label>
                                                    <input type="text" class="form-control" id="nameUsers"
                                                        placeholder="Enter name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="emailUsers">Email</label>
                                                    <input type="text" class="form-control" id="emailUsers"
                                                        placeholder="Enter email">
                                                </div>
                                                <div class="form-group">
                                                    <label for="phoneUsers">Phone</label>
                                                    <input type="text" class="form-control" id="phoneUsers"
                                                        placeholder="Enter phone">
                                                </div>
                                                <div class="form-group">
                                                    <label for="addressUsers">Address</label>
                                                    <input type="text" class="form-control" id="addressUser"
                                                        placeholder="Enter address">
                                                </div>
                                                <div class="form-group">
                                                    <label for="passUsers">Password</label>
                                                    <input type="password" class="form-control" id="passUsers"
                                                        placeholder="Enter password">
                                                </div>
                                                <div class="form-group">
                                                    <label for="rePassUsers">Re-Password</label>
                                                    <input type="password" class="form-control" id="rePassUsers"
                                                        placeholder="Enter password">
                                                </div>
                                                <div class="form-group">
                                                    <label>Role</label>
                                                    <select class="form-control" id="roleUsers">
                                                        <option value="2">Admin</option>
                                                        <option value="1">Client</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" rows="3" placeholder="Enter ..."
                                                        id="description-users"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Image</label></br>
                                                    <label for="image-users"
                                                        class="btn bg-primary btn-app m-0 mt-2 choose-image-users">
                                                        <i class="fas fa-plus"></i>choose
                                                    </label>
                                                    <label id='upload-image-users' for="submit"
                                                        class="btn bg-success btn-app m-0 mt-2">
                                                        <i class="fas fa-upload"></i>upload
                                                    </label>
                                                    <form action="http://localhost:3000/upload-users" method="post"
                                                        enctype="multipart/form-data" id="form-upload-users"
                                                        name="form-upload-users">
                                                        <input class="d-none" type="file" name='image-users'
                                                            id='image-users'>
                                                        <input class="d-none" type="submit" id="submit"></input>
                                                    </form>
                                                    <div id="output-users" class='mt-3 mb-3'>
                                                        <p>Preview:</p>
                                                        <img id="preview" class='' src="#" alt="your image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button type="button" id="btn-create-users"
                                                    class="btn btn-primary ">Submit</button>
                                            </div>
                                        </div>
                                        <!-- /.card -->

                                        <!-- general form elements -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Control sidebar content goes here -->
                    </aside>
                    <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <%- include('../../common/footerAD'); %>