<%- include('../../common/headerAD'); %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../common/navAD'); %>

                <%- include('../../common/menuAD'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>
                                            <%- title %>
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- general form elements -->
                                        <div class="card ">
                                            <div class="card-header">
                                                <div class="alert alert-success" style="display: none;" role="alert">
                                                    Update category success!
                                                </div>
                                                <div class="alert alert-danger" style="display: none;" role="alert">
                                                    You need to enter all the information!
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <!-- form start -->
                                            <form>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="namecategory">Name product</label>
                                                        <input type="text" class="form-control" id="namecategory"
                                                            value="<%= data.title %>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <textarea class="form-control" rows="3"
                                                            id="description-category"><%= data.description %></textarea>
                                                        <!-- <input type="text" class="d-none" id="description-category"
                                                        value="<%= data.description %>"> -->
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Gender</label>
                                                        <select class="form-control" id="gender-category">
                                                            <% if(data.gender==1){ %>
                                                                <option value="1">Male</option>
                                                                <%}else if(data.gender==2){ %>
                                                                    <option value="2">Female</option>
                                                                    <%} else if(data.gender==3){ %>
                                                                        <option value="3">Children</option>
                                                                        <%}%>
                                                                            <option value="1">Male</option>
                                                                            <option value="2">Female</option>
                                                                            <option value="3">Children</option>
                                                        </select>
                                                    </div>
                                                    <div class="col">
                                                        <label class="" for="file" style="cursor:pointer">Category
                                                            Image:
                                                            <input type="file" name="image"
                                                                class="d-none image-category" id="file"
                                                                value="<%= data.image %>" accept="image/*"></input>
                                                            <input type="text" value="<%= data.image %>"
                                                                id='image-category' class="d-none">
                                                            <div class="add-class">
                                                                <img src="/image/category/<%= data.image %>"
                                                                    class="icon-add-class mt-3" alt="addClass">
                                                            </div>
                                                            <p class="name-file">
                                                                <%= data.image %>
                                                            </p>
                                                        </label>
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->
                                                <div class="card-footer">
                                                    <button type="button" id="btn-update-category"
                                                        class="btn btn-primary  "
                                                        data-id="<%= data.id %>">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.card -->

                                        <!-- general form elements -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Control sidebar content goes here -->
                    </aside>
                    <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <%- include('../../common/footerAD'); %>