.icon-add-class{
    border:2px solid rgb(110, 110, 110);
    border-radius: 12px;
    border-style: dotted;
    width: 130px;
    background-color: white;
}
a{
    cursor: pointer;
}
.table-order{
    font-size: small;
}
.content-news,.caption-news{
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
}
#preview{
    width:150px;
    display:none;
}