<%- include('../../common/headerAD'); %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../common/navAD'); %>

                <%- include('../../common/menuAD'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>
                                            <%- title %>
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- general form elements -->
                                        <div class="card ">
                                            <div class="card-header">
                                                <div class="alert alert-success" style="display: none;" role="alert">
                                                    Creat product success!
                                                </div>
                                                <div class="alert alert-danger" style="display: none;" role="alert">
                                                    You need to enter all the information!
                                                </div>
                                                <button type="button" class="d-none btn btn-danger toastrDefaultError">
                                                </button>
                                                <button type="button"
                                                    class="d-none btn btn-success toastrDefaultSuccess">
                                                </button>
                                            </div>
                                            <!-- /.card-header -->
                                            <!-- form start -->
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="nameproduct">Name product</label>
                                                    <input type="text" class="form-control" id="nameproduct"
                                                        placeholder="Enter name product">
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" rows="3" placeholder="Enter ..."
                                                        id="description-product"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Category</label>
                                                    <select class="form-control" id="category-product">
                                                        <option value="">Choose category...</option>
                                                        <% for(let i=0 ; i < category.length; i++){ %>
                                                            <option value="<%= category[i].id %>">
                                                                <%= category[i].title %>
                                                            </option>
                                                            <%}; %>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Price</label>
                                                    <input type="number" class="form-control" id="price-product"
                                                        placeholder="Enter price product">
                                                </div>
                                                <div class="form-group">
                                                    <label>Unit</label>
                                                    <select class="form-control" id="unit-product">
                                                        <option value="">Choose unit...</option>
                                                        <option value="VND">VND</option>
                                                        <option value="USD">USD</option>
                                                        <option value="EUR">EUR</option>
                                                        <option value="RUB">RUB</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Size(US)</label>
                                                    <div>
                                                        <a class="btn btn-app bg-success m-0 mb-2" id="btn-size-shoes">
                                                            <i class="fas fa-shoe-prints"></i> Shoes
                                                        </a>
                                                        <a class="btn btn-app bg-info m-0 mb-2" id="btn-size-clothes">
                                                            <i class=" fas fa-tshirt"></i>
                                                            Clothes
                                                        </a>
                                                    </div>
                                                    <div id="size">
                                                        <!-- <input type="checkbox" name="size-shoes" value="4US" />
                                                            <label>4&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="4.5US" />
                                                            <label>4.5&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="5US" />
                                                            <label>5&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="5.5US" />
                                                            <label>5.5&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="6US" />
                                                            <label>6&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="6.5US" />
                                                            <label>6.5&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="7US" />
                                                            <label>7&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="7.5US" />
                                                            <label>7.5&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="8US" />
                                                            <label>8&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="8.5US" />
                                                            <label>8.5&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="9US" />
                                                            <label>9&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="9.5US" />
                                                            <label>9.5&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="10US" />
                                                            <label>10&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="10.5US" />
                                                            <label>10.5&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="11US" />
                                                            <label>11&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="11.5US" />
                                                            <label>11.5&nbsp;&nbsp;</label>
                                                            <input type="checkbox" name="size-shoes" value="12US" />
                                                            <label>12&nbsp;&nbsp;</label> -->
                                                    </div>
                                                    <div id="get-size"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Color</label>
                                                    <div id="all-color">
                                                    </div>
                                                    <div>
                                                        <a id='add-color' class="btn bg-primary btn-app m-0 mt-2">
                                                            <i class="fas fa-plus"></i>add
                                                        </a>
                                                        <a id='remove-color' class="btn bg-danger btn-app m-0 mt-2">
                                                            <i class="fas fa-trash-alt"></i>remove
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Image</label></br>
                                                    <label for="image-product" class="btn bg-primary btn-app m-0 mt-2">
                                                        <i class="fas fa-plus"></i>choose
                                                    </label>
                                                    <label id='upload-image-product' for="submit"
                                                        class="btn bg-success btn-app m-0 mt-2">
                                                        <i class="fas fa-upload"></i>upload
                                                    </label>
                                                    <form action="" method="post" enctype="multipart/form-data"
                                                        id="form-upload-product" name="form-upload-product">
                                                        <input type="file" class="d-none" name='image-product'
                                                            id='image-product' multiple>
                                                        <input class="d-none" type="submit" id="submit"></input>
                                                    </form>

                                                    <div id="output" class="pt-3">

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button type="button" id="btn-create-product"
                                                    class="btn btn-primary ">Submit</button>
                                            </div>
                                        </div>
                                        <!-- /.card -->

                                        <!-- general form elements -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Control sidebar content goes here -->
                    </aside>
                    <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <%- include('../../common/footerAD'); %>