<%- include('../../common/headerAD'); %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../common/navAD'); %>

                <%- include('../../common/menuAD'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>
                                            <%- title %>
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- general form elements -->
                                        <div class="card ">
                                            <div class="card-header">
                                                <div class="alert alert-success" style="display: none;" role="alert">
                                                    Update product success!
                                                </div>
                                                <div class="alert alert-danger" style="display: none;" role="alert">
                                                    You need to enter all the information!
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <!-- form start -->
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="nameproduct">Name product</label>
                                                    <input type="text" class="form-control" id="nameproduct"
                                                        value="<%= data[0].name %>">
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" rows="3"
                                                        id="description-product"><%= data[0].description %></textarea>
                                                    <!-- <input type="text" class="d-none" id="description-category"
                                                        value="<%= data.description %>"> -->
                                                </div>
                                                <div class="form-group">
                                                    <label>Category</label>
                                                    <select class="form-control" id="id-category">
                                                        <option value="<%= data[0].id_category %>">
                                                            <%= data[0].title %>
                                                        </option>
                                                        <% for(let i=0 ; i < category.length; i++){ %>
                                                            <option value="<%= category[i].id %>">
                                                                <%= category[i].title %>
                                                            </option>
                                                            <%}; %>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Price</label>
                                                    <input type="number" class="form-control" id="price-product"
                                                        value="<%= data[0].price %>">
                                                </div>
                                                <div class="form-group">
                                                    <label>Unit: </label>
                                                    <select class="form-control" id="unit-product">
                                                        <option value="<%= data[0].unit %>">
                                                            <%= data[0].unit %>
                                                        </option>
                                                        <option value="VND">VND</option>
                                                        <option value="USD">USD</option>
                                                        <option value="EUR">EUR</option>
                                                        <option value="RUB">RUB</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Size(US)</label>
                                                    <div>
                                                        <a class="btn btn-app bg-success m-0 mb-2" id="btn-size-shoes">
                                                            <i class="fas fa-shoe-prints"></i> Shoes
                                                        </a>
                                                        <a class="btn btn-app bg-info m-0 mb-2" id="btn-size-clothes">
                                                            <i class=" fas fa-tshirt"></i>
                                                            Clothes
                                                        </a>
                                                    </div>
                                                    <div id="size">
                                                        <% if (data[0].size) { %>
                                                            <% for(let k=0; k < JSON.parse(data[0].size).length; k++){
                                                                %>
                                                                <input type="checkbox" checked="checked" name="size"
                                                                    class="sizeproduct"
                                                                    value="<%=JSON.parse(data[0].size)[k]%>" />
                                                                <label>
                                                                    <%=JSON.parse(data[0].size)[k]%> &nbsp;&nbsp;
                                                                </label>
                                                                <% } %>
                                                                    <%}%>

                                                    </div>
                                                    <div id="get-size">

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Color</label>
                                                    <div id="all-color">
                                                        <% if (data[0].color) { %>
                                                            <% for(let k=0; k < JSON.parse(data[0].color).length; k++){
                                                                %>
                                                                <input type="color" class="color m-2" name="favcolor"
                                                                    value="<%=JSON.parse(data[0].color)[k]%>">
                                                                <% } %>
                                                                    <%}%>

                                                    </div>
                                                    <div>
                                                        <a id='add-color' class="btn bg-primary btn-app m-0 mt-2">
                                                            <i class="fas fa-plus"></i>add
                                                        </a>
                                                        <a id='remove-color' class="btn bg-danger btn-app m-0 mt-2">
                                                            <i class="fas fa-trash-alt"></i>remove
                                                        </a>
                                                    </div>
                                                </div>
                                                <div>
                                                    <form action="" method="post" enctype="multipart/form-data"
                                                        id='form-upload-product-update'
                                                        name="form-upload-product-update">
                                                        <label class="text-bold " for="image-update-product"
                                                            style="cursor:pointer">Product
                                                            Image:
                                                            <div class="d-block"></div>
                                                            <label id='upload-image-product ' for="submit"
                                                                class="btn bg-success btn-app m-0 mt-2">
                                                                <i class="fas fa-upload"></i>upload
                                                            </label>
                                                            <input type="file" id='image-update-product' class="d-none"
                                                                name='image-product' multiple>
                                                            <div class='pt-2' id='output'>
                                                                <% for(let k=0; k < JSON.parse(data[0].image).length;
                                                                    k++){ %>
                                                                    <img width="100px"
                                                                        src="/image/product/<%=JSON.parse(data[0].image)[k]%>"
                                                                        alt="abc">
                                                                    <% } %>
                                                            </div>
                                                            <input type="text" id='old-name' class='d-none'
                                                                value="<%=JSON.stringify(data[0].image)%>">
                                                        </label>
                                                        <input class="d-none" type="submit" id="submit"></input>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button type="button" id="btn-update-product" class="btn btn-primary"
                                                    data-id="<%= data[0].id %>">Submit</button>
                                            </div>
                                        </div>
                                        <!-- /.card -->

                                        <!-- general form elements -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Control sidebar content goes here -->
                    </aside>
                    <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <%- include('../../common/footerAD'); %>