<%- include('../../common/headerAD'); %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../common/navAD'); %>

                <%- include('../../common/menuAD'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>
                                            <%- title %>
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- general form elements -->
                                        <div class="card ">
                                            <div class="card-header">
                                                <div class="alert alert-success" style="display: none;" role="alert">
                                                    Creat news success!
                                                </div>
                                                <div class="alert alert-danger" style="display: none;" role="alert">
                                                    You need to enter all the information!
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <!-- form start -->
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="captionnews">Caption news</label>
                                                    <input type="text" class="form-control" id="captionnews"
                                                        placeholder="Enter caption news">
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" rows="3" placeholder="Enter ..."
                                                        id="description-news"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Content</label>
                                                    <textarea class="form-control" rows="3" placeholder="Enter ..."
                                                        id="ckeditor_news"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="author">Author</label>
                                                    <input type="text" class="form-control" id="author"
                                                        placeholder="Author :">
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Image</label></br>
                                                    <label for="image-news"
                                                        class="btn bg-primary btn-app m-0 mt-2 choose-image-news">
                                                        <i class="fas fa-plus"></i>choose
                                                    </label>
                                                    <label id='upload-image-news' for="submit"
                                                        class="btn bg-success btn-app m-0 mt-2">
                                                        <i class="fas fa-upload"></i>upload
                                                    </label>
                                                    <form action="http://localhost:3000/upload-news" method="post"
                                                        enctype="multipart/form-data" id="form-upload-news"
                                                        name="form-upload-news">
                                                        <input class="d-none" type="file" name='image-news'
                                                            id='image-news'>
                                                        <input class="d-none" type="submit" id="submit"></input>
                                                    </form>
                                                    <div id="output-news" class='mt-3 mb-3'>
                                                        <p>Preview:</p>
                                                        <img id="preview" class='' src="#" alt="your image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button type="button" id="btn-create-news"
                                                    class="btn btn-primary ">Submit</button>
                                            </div>
                                        </div>
                                        <!-- /.card -->

                                        <!-- general form elements -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Control sidebar content goes here -->
                    </aside>
                    <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <%- include('../../common/footerAD'); %>