<%- include('../../common/headerAD'); %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <%- include('../../common/navAD'); %>

                <%- include('../../common/menuAD'); %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>
                                            <%- title %>
                                        </h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- general form elements -->
                                        <div class="card ">
                                            <div class="card-header">
                                                <div class="alert alert-success" style="display: none;" role="alert">
                                                    Creat news success!
                                                </div>
                                                <div class="alert alert-danger" style="display: none;" role="alert">
                                                    You need to enter all the information!
                                                </div>
                                            </div>
                                            <!-- /.card-header -->
                                            <!-- form start -->
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="captionnews">Caption news</label>
                                                    <input type="text" class="form-control" value="<%= data.caption %>"
                                                        id="captionnews">
                                                </div>
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" rows=" 3"
                                                        id="description-news"><%= data.description %></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Content</label>
                                                    <textarea class="form-control" rows="3" placeholder="Enter ..."
                                                        id="ckeditor_news"><%= data.content %></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="author">Author</label>
                                                    <input type="text" class="form-control" id="author"
                                                        placeholder="Author :" value="<%= data.author %>">
                                                </div>
                                                <form action="" method="post" enctype="multipart/form-data"
                                                    id='form-upload-news-update' name="form-upload-news-update">
                                                    <label class="" for="image-update-news" style="cursor:pointer">News
                                                        Image:
                                                        <label id='upload-image-news ' for="submit"
                                                            class="btn bg-success btn-app m-0 mt-2 d-block">
                                                            <i class="fas fa-upload"></i>upload
                                                        </label>
                                                        <input type="file" id='image-update-news' class="d-none"
                                                            name='image-news'>
                                                        <img id='preview' src="/image/news/<%= data.image %>"
                                                            class="icon-add-class mt-3 d-block" alt="addClass">
                                                        <input type="text" id='old-name' class='d-none'
                                                            value="<%= data.image %>">
                                                    </label>
                                                    <input class="d-none" type="submit" id="submit"></input>
                                                </form>
                                            </div>
                                            <!-- /.card-body -->
                                            <div class="card-footer">
                                                <button type="button" id="btn-update-news" data-id="<%= data.id %>"
                                                    class="btn btn-primary ">Submit</button>
                                            </div>
                                        </div>
                                        <!-- /.card -->

                                        <!-- general form elements -->
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /.content -->
                    </div>
                    <!-- /.content-wrapper -->
                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Control sidebar content goes here -->
                    </aside>
                    <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <%- include('../../common/footerAD'); %>